<form
  class="form-horizontal form-label-left"
  skipValidation
  [formGroup]="form"
  
>
  <p-panel #pnlDetail   [collapsed]="false">
    <div class="formgrid grid">
      <!-- ---------------------------------------------------------------------------------- -->
      <div class="field col-12 md:col-12">
        <span class="p-float-label">
          <input
            id="name"
            type="text"
            pInputText
            formControlName="name"
            [style]="{ width: '100%' }"
          />
          <label for="name">Tên <span class="required">*</span></label>
        </span>
        <app-validation-message
          [entityControl]="formControls.name"
          [validationMessages]="validationMessages.name"
        >
        </app-validation-message>
      </div>
      <!-- -------------------------------------------------------=----------------------------- -->
      <div class="field col-12 md:col-12">
        <span class="p-float-label">
          <input
            id="description"
            type="text"
            pInputText
            formControlName="description"
            [style]="{ width: '100%' }"
          />
          <label for="description">Mô tả <span class="required">*</span></label>
        </span>
        <app-validation-message
          [entityControl]="formControls.description"
          [validationMessages]="validationMessages.description"
        >
        </app-validation-message>
      </div>
      <!-- ---------------------------------------------------------------------------------- -->
      <div class="field col-12 md:col-12">
        <p-checkbox binary="true" label="Công khai" formControlName="isPublic"></p-checkbox>
      </div>
      <!-- ---------------------------------------------------------------------------------- -->
      <div class="field col-12 md:col-12">
        <p-checkbox binary="true" label="Mặc định" formControlName="isDefault"></p-checkbox>
      </div>
      <!-- ---------------------------------------------------------------------------------- -->
    </div>

       <ng-template pTemplate="footer">
      <div class="flex justify-content-end">
        <button
          pButton
          pRipples
          type="submit"
          (click)="saveChange()"
          label="Lưu"
          class="p-button-info mr-2"
          icon="pi pi-check"
        ></button>
        <button
          pButton
          pRipples
          type="button"
          (click)="close()"
          label="Đóng"
          class="p-button-danger"
          icon="pi pi-times"
        ></button>
      </div>
    </ng-template>

   
  </p-panel>
</form>
