<div class="animated fadeIn">
  <p-panel #pnl header="Trang chủ">
    <div class="grid">
      <!-- --------------Sidebar--------------------------------------------------------- -->

      <div class="col-12 md:col-2 home-sidebar">
        <p-card>
          <ng-template pTemplate="header">
            <h3 class="home-sidebar-header">Lớp bản đồ</h3>
          </ng-template>
          <!-- ----------------------------------------------------------------------- -->
          <div class="grid col-12 md:col-12">
            <div class="group-header ml-3">
              <img src="assets/images/map/marker-icon.png" alt="Khiêu nại" />
              <span>Khiêu nại</span>
            </div>
            <!-- ----------------------------------------------------------------------- -->
            <div class="inputgroup">
              <span class="ml-5">Đất đai</span>
              <p-inputSwitch [(ngModel)]="landComplaint" (onChange)="loadData()"></p-inputSwitch>
            </div>
            <!-- ----------------------------------------------------------------------- -->
            <div class="inputgroup">
              <span class="ml-5">Môi trường</span>
              <p-inputSwitch
                [(ngModel)]="enviromentalComplaint"
                (onChange)="loadData()"
              ></p-inputSwitch>
            </div>
            <!-- ----------------------------------------------------------------------- -->
            <div class="inputgroup">
              <span class="ml-5">Tài nguyên nước</span>
              <p-inputSwitch
                [(ngModel)]="waterResourceComplaint"
                (onChange)="loadData()"
              ></p-inputSwitch>
            </div>
            <!-- ----------------------------------------------------------------------- -->
            <div class="inputgroup">
              <span class="ml-5">Khoáng sản</span>
              <p-inputSwitch
                [(ngModel)]="mineralResourceComplaint"
                (onChange)="loadData()"
              ></p-inputSwitch>
            </div>
            <!-- ----------------------------------------------------------------------- -->
            <div class="group-header ml-3 mt-5">
              <img src="assets/images/map/marker-icon-red.png" class="icon-red" alt="Tố cáo" />
              <span>Tố Cáo</span>
            </div>
            <!-- ----------------------------------------------------------------------- -->
            <div class="inputgroup">
              <span class="ml-5">Đất đai</span>
              <p-inputSwitch [(ngModel)]="landAccusation" (onChange)="loadData()"></p-inputSwitch>
            </div>
            <!-- ----------------------------------------------------------------------- -->
            <div class="inputgroup">
              <span class="ml-5">Môi trường</span>
              <p-inputSwitch
                [(ngModel)]="emviromentalAccusation"
                (onChange)="loadData()"
              ></p-inputSwitch>
            </div>
            <!-- ----------------------------------------------------------------------- -->
            <div class="inputgroup">
              <span class="ml-5">Tài nguyên nước</span>
              <p-inputSwitch
                [(ngModel)]="waterResourceAccusation"
                (onChange)="loadData()"
              ></p-inputSwitch>
            </div>
            <!-- ----------------------------------------------------------------------- -->
            <div class="inputgroup">
              <span class="ml-5">Khoáng sản</span>
              <p-inputSwitch
                [(ngModel)]="mineralResourceAccusation"
                (onChange)="loadData()"
              ></p-inputSwitch>
            </div>
            <!-- ----------------------------------------------------------------------- -->
          </div>
        </p-card>
      </div>

      <!-- ----------------------Main------------------------------------------------- -->
      <div class="col-12 md:col-10">
        <app-map></app-map>
        <!-- ----------------------------------------------------------------------- -->
        <h3 style="color: blue">Kết quả tìm kiếm</h3>
        <!-- <p-table
          #dt
          [value]="data"
          [rows]="10"
          [paginator]="false"
          [(selection)]="selectedItems"
          [rowHover]="true"
          dataKey="id"
        > -->
        <p-table
          #dt
          [value]="data"
          [rows]="10"
          [paginator]="true"
          [globalFilterFields]="['code', 'title']"
          [tableStyle]="{ 'min-width': '75rem' }"
          [(selection)]="selectedItems"
          [rowHover]="true"
          dataKey="code"
          currentPageReportTemplate="Tổng số: {totalRecords}"
          [showCurrentPageReport]="true"
        >
          <ng-template pTemplate="header">
            <tr>
              <th>STT</th>
              <th>Mã hồ sơ</th>
              <th>Nội dung đơn</th>
              <th>Người gửi đơn</th>
              <th>Khu vực</th>
              <th>Ngày nộp đơn</th>
              <th>Loại khiếu nai/tố cáo</th>
              <th>Lĩnh vực</th>
              <th>Ngày hẹn trả KQ lần I</th>
              <th>KQ GQKN lần I</th>
              <th>Ngày hẹn trả KQ lần II</th>
              <th>KQ GQKN lần II</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-row let-rowIndex="rowIndex">
            <tr>
              <td>{{ rowIndex + 1 }}</td>
              <td>{{ row.code }}</td>
              <td>{{ row.title }}</td>
              <td>{{ row.sender }}</td>
              <td>{{ row.area }}</td>
              <td>{{ row.sentDate }}</td>
              <td>{{ row.type }}</td>
              <td>{{ row.fieldType }}</td>
              <td>{{ row.returnDate1 }}</td>
              <td>{{ row.result1 }}</td>
              <td>{{ row.returnDate2 }}</td>
              <td>{{ row.result2 }}</td>
            </tr>
          </ng-template>
          <!-- <ng-template pTemplate="summary">
            <p-paginator
              [rows]="maxResultCount"
              [totalRecords]="totalCount"
              [showCurrentPageReport]="true"
              [showJumpToPageInput]="true"
              (onPageChange)="pageChanged($event)"
              currentPageReportTemplate="{totalRecords} bản ghi, {currentPage} trang"
              [rowsPerPageOptions]="[10, 20, 50, 100]"
            ></p-paginator>
          </ng-template> -->
        </p-table>
        <!-- ----------------------------------------------------------------------- -->
      </div>
    </div>

    <p-blockUI [target]="pnl" [blocked]="blockedPanel">
      <p-progressSpinner
        [style]="{ width: '100px', height: '100px', position: 'absolute', top: '25%', left: '50%' }"
        strokeWidth="2"
        animationDuration=".5s"
      ></p-progressSpinner>
    </p-blockUI>
  </p-panel>
</div>
