<div class="animated fadeIn grid card">
  <p-panel #pnl header="Tố cáo đất đai">
    <p-toolbar>
      <div class="formgrid grid col-12">
        <div class="field col-12 md:col-4">
          <span class="p-input-icon-left w-full">
            <i class="pi pi-search"></i>
            <input
              pInputText
              type="text"
              (keyup.enter)="loadData()"
              [(ngModel)]="keyword"
              placeholder="Tìm kiếm"
              class="w-full"
            />
          </span>
        </div>
        <!-- --------------------------------------------------------------------------------- -->
        <div class="field col-12 md:col-4">
          <span class="p-float-label">
            <p-dropdown
              [options]="lanKNOptions"
              [(ngModel)]="lanKNSearch"
              optionLabel="text"
              optionValue="value"
              [showClear]="true"
              [autoDisplayFirst]="false"
              styleClass="w-full"
              (onChange)="loadData()"
            ></p-dropdown>
            <label for="phoneNumber">Lần nộp đơn</label>
          </span>
        </div>
        <!-- --------------------------------------------------------------------------------- -->
        <div class="field col-12 md:col-4">
          <span class="p-float-label">
            <p-dropdown
              [options]="stageOptions"
              [(ngModel)]="stageSearch"
              optionLabel="text"
              optionValue="value"
              [showClear]="true"
              [autoDisplayFirst]="false"
              styleClass="w-full"
              (onChange)="loadData()"
            ></p-dropdown>
            <label for="phoneNumber">Tình trạng</label>
          </span>
        </div>
      </div>
    </p-toolbar>
    <!-- ----------------------------------------------------------------------- -->
      <p-toolbar>
        <ng-template pTemplate="left">
          <!-- <h3 style="color: blue">Kết quả tìm kiếm</h3> -->
        </ng-template>

        <ng-template pTemplate="right">
          <button
            type="button"
            pButton
            pRipple
            label="Xuất"
            icon="pi pi-download"
            class="p-button-info mr-2"
          ></button>
          <button
            type="button"
            pButton
            pRipple
            label="In"
            icon="pi pi-print"
            class="p-button-info"
          ></button>
        </ng-template>
      </p-toolbar>

      <!-- <p-table
          #dt
          [value]="data"
          [rows]="10"
          [paginator]="false"
          [(selection)]="selectedItems"
          [rowHover]="true"
          dataKey="id"
        > -->
      <p-table
        #dt
        [value]="data"
        [rows]="10"
        [paginator]="true"
        [globalFilterFields]="['code', 'title']"
        [tableStyle]="{ width: '100%' }"
        [(selection)]="selectedItems"
        [rowHover]="true"
        dataKey="code"
        currentPageReportTemplate="Tổng số: {totalRecords}"
        [showCurrentPageReport]="true"
      >
        <ng-template pTemplate="header">
          <tr>
            <th class="row-num-column">STT</th>
            <th>Mã hồ sơ</th>
            <th>Nội dung đơn</th>
            <th>Người gửi đơn</th>
            <th>Khu vực</th>
            <th>Ngày nộp đơn</th>
            <th>Loại khiếu nai/tố cáo</th>
            <th>Lĩnh vực</th>
            <th>Ngày hẹn trả KQ lần I</th>
            <th>KQ GQKN lần I</th>
            <th>Ngày hẹn trả KQ lần II</th>
            <th>KQ GQKN lần II</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-row let-rowIndex="rowIndex">
          <tr>
            <td class="row-num-cell">{{ rowIndex + 1 }}</td>
            <td>{{ row.code }}</td>
            <td>{{ row.title }}</td>
            <td>{{ row.sender }}</td>
            <td>{{ row.area }}</td>
            <td>{{ row.sentDate.toLocaleDateString('vi-VN') }}</td>
            <td>{{ loaiHS[row.typeHoSo] }}</td>
            <td>{{ linhVuc[row.fieldType] }}</td>
            <td>{{ row.returnDate1.toLocaleDateString('vi-VN') }}</td>
            <td>{{ row.result1 ? 'Đúng' : 'Sai' }}</td>
            <td>{{ row.returnDate2 ? row.returnDate2.toLocaleDateString('vi-VN') : '' }}</td>
            <td>{{ row.result2 === true ? 'Đúng' : row.result2 === false ? 'Sai' : '' }}</td>
          </tr>
        </ng-template>
        <!-- <ng-template pTemplate="summary">
            <p-paginator
              [rows]="maxResultCount"
              [totalRecords]="totalCount"
              [showCurrentPageReport]="true"
              [showJumpToPageInput]="true"
              (onPageChange)="pageChanged($event)"
              currentPageReportTemplate="{totalRecords} bản ghi, {currentPage} trang"
              [rowsPerPageOptions]="[10, 20, 50, 100]"
            ></p-paginator>
          </ng-template> -->
      </p-table>
      <!-- ----------------------------------------------------------------------- -->
    <!-- ----------------------------------------------------------------------- -->
    <p-blockUI [target]="pnl" [blocked]="blockedPanel">
      <p-progressSpinner
        [style]="{
          width: '100px',
          height: '100px',
          position: 'absolute',
          top: '25%',
          left: '50%'
        }"
        strokeWidth="2"
        animationDuration=".5s"
      ></p-progressSpinner>
    </p-blockUI>
  </p-panel>
</div>
