<div class="animated fadeIn grid">
  <!-- --------------Sidebar--------------------------------------------------------- -->
  <div [@hideColumn]="hideColumnState" class="col-12 md:col-2 home-sidebar">
    <p-card>
      <ng-template pTemplate="header">
        <h5 class="home-sidebar-header">LỚP BẢN ĐỒ</h5>
      </ng-template>
      <!-- ----------------------------------------------------------------------- -->
      <div class="grid col-12 md:col-12">
        <div id="quyhoach" class="group-header ml-3">
          <img src="assets/images/map/quyhoach_icon.png" alt="Bản đồ quy hoạch" />
          <span>Bản đồ quy hoạch</span>
          <p-inputSwitch [(ngModel)]="geo" (onChange)="loadGeo()"></p-inputSwitch>
        </div>
      </div>
      <!-- ----------------------------------------------------------------------- -->
      <div class="grid col-12 md:col-12">
        <div class="group-header ml-3">
          <img src="assets/images/map/marker-icon.png" alt="Khiếu nại" />
          <span>Khiếu nại</span>
        </div>
        <!-- ----------------------------------------------------------------------- -->
        <div class="inputgroup">
          <span class="ml-5">Đất đai</span>
          <p-inputSwitch [(ngModel)]="landComplain" (onChange)="loadData()"></p-inputSwitch>
        </div>
        <!-- ----------------------------------------------------------------------- -->
        <div class="inputgroup">
          <span class="ml-5">Môi trường</span>
          <p-inputSwitch [(ngModel)]="enviromentComplain" (onChange)="loadData()"></p-inputSwitch>
        </div>
        <!-- ----------------------------------------------------------------------- -->
        <div class="inputgroup">
          <span class="ml-5">Khoáng sản</span>
          <p-inputSwitch [(ngModel)]="mineralComplain" (onChange)="loadData()"></p-inputSwitch>
        </div>
        <!-- ----------------------------------------------------------------------- -->
        <div class="inputgroup">
          <span class="ml-5">Tài nguyên nước</span>
          <p-inputSwitch [(ngModel)]="waterComplain" (onChange)="loadData()"></p-inputSwitch>
        </div>        
        <!-- ----------------------------------------------------------------------- -->
        <div class="group-header ml-3 mt-5">
          <img src="assets/images/map/marker-icon-red.png" class="icon-red" alt="Tố cáo" />
          <span>Tố Cáo</span>
        </div>
        <!-- ----------------------------------------------------------------------- -->
        <div class="inputgroup">
          <span class="ml-5">Đất đai</span>
          <p-inputSwitch [(ngModel)]="landDenounce" (onChange)="loadData()"></p-inputSwitch>
        </div>
        <!-- ----------------------------------------------------------------------- -->
        <div class="inputgroup">
          <span class="ml-5">Môi trường</span>
          <p-inputSwitch [(ngModel)]="enviromentDenounce" (onChange)="loadData()"></p-inputSwitch>
        </div>
        <!-- ----------------------------------------------------------------------- -->
        <div class="inputgroup">
          <span class="ml-5">Khoáng sản</span>
          <p-inputSwitch [(ngModel)]="mineralDenounce" (onChange)="loadData()"></p-inputSwitch>
        </div>
        <!-- ----------------------------------------------------------------------- -->
        <div class="inputgroup">
          <span class="ml-5">Tài nguyên nước</span>
          <p-inputSwitch [(ngModel)]="waterDenounce" (onChange)="loadData()"></p-inputSwitch>
        </div>        
      </div>
    </p-card>
  </div>
  <!-- ----------------------Main------------------------------------------------- -->
  <div [@expandColumn]="expandColumnState" class="col-12 md:col-10 grid">
    <div
      style="height: 90vh; width: 1%"
      class="flex flex-column justify-content-center align-items-center"
    >
      <button
        *ngIf="visibleFilterLeff"
        pButton
        pRipple
        type="button"
        icon="pi pi-angle-left"
        class="p-button-info p-button-lg"
        (click)="toggleMenuLeft()"
      ></button>
      <button
        *ngIf="!visibleFilterLeff"
        pButton
        pRipple
        type="button"
        icon="pi pi-angle-right"
        class="p-button-info p-button-lg"
        (click)="toggleMenuLeft()"
      ></button>
    </div>
    <div style="width: 99%">
      <p-breadcrumb [model]="breadcrumb" [home]="home"></p-breadcrumb>
      <p-panel #pnl>
        <p-toolbar>
          <div class="formgrid grid">
            <div class="field col-12 md:col-3">
              <span class="p-input-icon-left w-full">
                <i class="pi pi-search"></i>
                <input
                  pInputText
                  type="text"
                  (keyup.enter)="loadData()"
                  [(ngModel)]="keyword"
                  placeholder="Tìm kiếm"
                  class="w-full"
                />
              </span>
            </div>
            <!-- --------------------------------------------------------------------------------- -->
            <div class="field col-12 md:col-3">
              <span class="p-input-icon-left w-full">
                <i class="pi pi-user"></i>
                <input
                  pInputText
                  type="text"
                  (keyup.enter)="loadData()"
                  [(ngModel)]="nguoiNopDon"
                  placeholder="Người nộp đơn"
                  class="w-full"
                />
              </span>
            </div>
            <!-- --------------------------------------------------------------------------------- -->
            <div class="field col-12 md:col-3">
              <span class="p-float-label">
                <p-dropdown
                  [options]="tinhOptions"
                  [(ngModel)]="maTinh"
                  optionLabel="unitName"
                  optionValue="id"
                  [showClear]="true"
                  [autoDisplayFirst]="false"
                  [filter]="true"
                  filterBy="unitName"
                  styleClass="w-full"
                  (onChange)="tinhChange($event)"
                ></p-dropdown>
                <label>Tỉnh/TP</label>
              </span>
            </div>
            <!-- --------------------------------------------------------------------------------- -->
            <div class="field col-12 md:col-3">
              <span class="p-float-label">
                <p-dropdown
                  id="maquan"
                  [options]="huyenOptions"
                  [(ngModel)]="maHuyen"
                  optionLabel="unitName"
                  optionValue="id"
                  [showClear]="true"
                  [autoDisplayFirst]="false"
                  [filter]="true"
                  filterBy="unitName"
                  styleClass="w-full"
                  (onChange)="huyenChange($event)"
                ></p-dropdown>
                <label>Quận/Huyện</label>
              </span>
            </div>
            <!-- --------------------------------------------------------------------------------- -->
            <div class="field col-12 md:col-3">
              <span class="p-float-label">
                <p-dropdown
                  id="maXaPhuongTT"
                  [options]="xaOptions"
                  [(ngModel)]="maXa"
                  optionLabel="unitName"
                  optionValue="id"
                  [showClear]="true"
                  [autoDisplayFirst]="false"
                  [filter]="true"
                  filterBy="unitName"
                  styleClass="w-full"
                  (onChange)="loadData()"
                ></p-dropdown>
                <label>Phường/Xã</label>
              </span>
            </div>

            <!-- --------------------------------------------------------------------------------- -->
            <div class="field col-12 md:col-3">
              <span class="p-float-label">
                <p-calendar
                  id="thoigiantiepnhan"
                  appendTo="body"
                  [(ngModel)]="thoiGianTiepNhanRange"
                  selectionMode="range"
                  dateFormat="dd/mm/yy"
                  [showClear]="true"
                  inputId="thoiGianTiepNhanRange"
                  (onSelect)="thoiGiantiepNhanChange()"
                  (onClear)="thoiGiantiepNhanChange()"
                ></p-calendar>
                <label>Thời gian tiếp nhận</label>
              </span>
            </div>

            <!-- --------------------------------------------------------------------------------- -->
            <div *ngIf="hasLoggedIn" class="field col-12 md:col-3">
              <span class="p-float-label">
                <p-dropdown
                  id="congkhai"
                  [options]="congKhaiOptions"
                  [(ngModel)]="congKhai"
                  optionLabel="text"
                  optionValue="value"
                  [showClear]="true"
                  [autoDisplayFirst]="false"
                  styleClass="w-full"
                  (onChange)="loadData()"
                ></p-dropdown>
                <label>Công khai</label>
              </span>
            </div>
            <!-- --------------------------------------------------------------------------------- -->
            <div class="field col-12 md:col-3">
              <span class="p-float-label">
                <p-dropdown
                  id="tinhtrang"
                  [options]="loaiKQOptions"
                  [(ngModel)]="tinhTrang"
                  optionLabel="text"
                  optionValue="value"
                  [showClear]="true"
                  [autoDisplayFirst]="false"
                  styleClass="w-full"
                  (onChange)="loadData()"
                ></p-dropdown>
                <label>Tình trạng</label>
              </span>
            </div>
          </div>
        </p-toolbar>
        <p-card>
          <!--app-map [data]="items" [spatialData]="spatialData"></app-map-->
          <app-map [data]="items" [bShowSpatial]="geo" [duLieuToaDo]="toado"></app-map>
        </p-card>
        <!-- ----------------------------------------------------------------------- -->
        <p-card>
          <p-toolbar>
            <ng-template pTemplate="left">
              <i class="pi pi-search mr-2"></i>
              <h5>Kết quả tìm kiếm</h5>
            </ng-template>

            <ng-template pTemplate="right">
              <button
                type="button"
                pButton
                pRipple
                label="Xuất excel"
                icon="pi pi-download"
                class="p-button-info mr-2"
                (click)="exportExcel()"
              ></button>
            </ng-template>
          </p-toolbar>

          <p-table
            #dt
            [value]="items"
            [rows]="10"
            [paginator]="false"
            [rowHover]="true"
            dataKey="id"
          >
            <ng-template pTemplate="header">
              <tr>
                <th class="row-num-column">STT</th>
                <th>Mã hồ sơ</th>
                <th style="width: 180px">Nội dung</th>
                <th>Loại vụ việc</th>
                <th>Lĩnh vực</th>  
                <th style="width: 100px">Người nộp đơn</th>
                <th>Số ĐT</th>
                <th>Địa chỉ</th>                              
                <th>Thời gian nộp</th>
                <th>Ngày hẹn trả KQ</th>
                <th style="width: 150px">Bộ phận đang XL</th>
                <th style="width: 150px">Trạng thái</th>
                <th>Vị trí</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-row let-rowIndex="rowIndex">
              <tr>
                <td class="row-num-cell">{{ skipCount + rowIndex + 1 }}</td>
                <td>
                  <span [ngClass]="p-link" (click)="viewDetail(row)"><strong>{{ row.maHoSo }}</strong></span>
                </td>
                <td>
                  <span [ngClass]="p-link" (click)="viewDetail(row)">{{ row.tieuDe }}</span>
                </td>
                <td [ngClass]="(row.loaiVuViec == 1)?'kn':'tc'">{{ LoaiVuViecOptions[row.loaiVuViec] }}</td>
                <td>{{ LinhVucOptions[row.linhVuc] }}</td>
                <td>{{ row.nguoiNopDon }}</td>
                <td>{{ row.dienThoai }}</td>
                <td>{{ row.diaChiLienHe }}</td>
                <td>
                  {{ row?.thoiGianTiepNhan | date : 'dd/MM/yyyy HH:mm' }}
                </td>
                <td>
                  {{ row?.thoiGianHenTraKQ | date : 'dd/MM/yyyy HH:mm' }}
                </td>
                <td>{{ row.boPhanDangXL }}</td>
                <td>{{ KetquaOptions[(row?.ketQua)? row?.ketQua : 0]}}</td>
                <td>
                  <p-button icon="pi pi-map-marker" [styleClass]="(row?.duLieuToaDo)?'p-button-success': 'p-button-warning'"
                    (click)="setPosition((row?.duLieuToaDo)? row?.duLieuToaDo : null)"
                    [disabled]="(row?.duLieuToaDo)?false:true">
                  </p-button>
                </td>
              </tr>
            </ng-template>
            <ng-template pTemplate="summary">
              <p-paginator
                [rows]="maxResultCount"
                [totalRecords]="totalCount"
                [showCurrentPageReport]="true"
                [showJumpToPageInput]="true"
                (onPageChange)="pageChanged($event)"
                currentPageReportTemplate="{totalRecords} bản ghi"
                [rowsPerPageOptions]="[10, 20, 50, 100]"
              ></p-paginator>
            </ng-template>
          </p-table>
          <!-- ----------------------------------------------------------------------- -->
        </p-card>
        <!-- ----------------------------------------------------------------------- -->
      </p-panel>
    </div>
  </div>
</div>
