<div class="animated fadeIn grid card col-12">
  <p-breadcrumb [model]="breadcrumb" [home]="home"></p-breadcrumb>
  <p-panel #pnl class="col-12">
    <p-toolbar>
      <div class="formgrid grid">
        <div class="field col-12 md:col-3">
          <span class="p-input-icon-left w-full">
            <i class="pi pi-search"></i>
            <input
              pInputText
              type="text"
              (keyup.enter)="loadData()"
              [(ngModel)]="keyword"
              placeholder="Mã hồ sơ"
              class="w-full"
            />
          </span>
        </div>

        <!-- --------------------------------------------------------------------------------- -->
        <div class="field col-12 md:col-3">
          <span class="p-input-icon-left w-full">
            <i class="pi pi-user"></i>
            <input
              pInputText
              type="text"
              (keyup.enter)="loadData()"
              [(ngModel)]="nguoiNopDon"
              placeholder="Người nộp đơn"
              class="w-full"
            />
          </span>
        </div>
        <!-- --------------------------------------------------------------------------------- -->
        <div class="field col-12 md:col-2">
          <span class="p-float-label">
            <p-dropdown
              [options]="tinhOptions"
              [(ngModel)]="maTinh"
              optionLabel="unitName"
              optionValue="id"
              [showClear]="true"
              [autoDisplayFirst]="false"
              [filter]="true"
              filterBy="unitName"
              styleClass="w-full"
              (onChange)="tinhChange($event)"
            ></p-dropdown>
            <label>Tỉnh/TP</label>
          </span>
        </div>
        <!-- --------------------------------------------------------------------------------- -->
        <div class="field col-12 md:col-2">
          <span class="p-float-label">
            <p-dropdown
              [options]="huyenOptions"
              [(ngModel)]="maHuyen"
              optionLabel="unitName"
              optionValue="id"
              [showClear]="true"
              [autoDisplayFirst]="false"
              [filter]="true"
              filterBy="unitName"
              styleClass="w-full"
              (onChange)="huyenChange($event)"
            ></p-dropdown>
            <label>Quận/Huyện</label>
          </span>
        </div>
        <!-- --------------------------------------------------------------------------------- -->
        <div class="field col-12 md:col-2">
          <span class="p-float-label">
            <p-dropdown
              [options]="xaOptions"
              [(ngModel)]="maXa"
              optionLabel="unitName"
              optionValue="id"
              [showClear]="true"
              [autoDisplayFirst]="false"
              [filter]="true"
              filterBy="unitName"
              styleClass="w-full"
              (onChange)="loadData()"
            ></p-dropdown>
            <label>Phường/Xã</label>
          </span>
        </div>
        <!-- --------------------------------------------------------------------------------- -->
        <div class="field col-12 md:col-3">
          <span class="p-float-label">
            <p-calendar
              appendTo="body"
              [(ngModel)]="thoiGianTiepNhanRange"
              selectionMode="range"
              dateFormat="dd/mm/yy"
              [showClear]="true"
              inputId="thoiGianTiepNhanRange"
              (onSelect)="thoiGiantiepNhanChange()"
              (onClear)="thoiGiantiepNhanChange()"
            ></p-calendar>
            <label>Thời gian tiếp nhận</label>
          </span>
        </div>
        <!-- --------------------------------------------------------------------------------- -->
        <div class="field col-12 md:col-3">
          <span class="p-float-label">
            <p-dropdown
              [options]="loaiKQOptions"
              [(ngModel)]="tinhTrang"
              optionLabel="text"
              optionValue="value"
              [showClear]="true"
              [autoDisplayFirst]="false"
              styleClass="w-full"
              (onChange)="loadData()"
            ></p-dropdown>
            <label>Kết luận</label>
          </span>
        </div>
        <!-- --------------------------------------------------------------------------------- -->
        <div class="field col-12 md:col-3">
          <span class="p-float-label">
            <p-dropdown
              id="trangThai"
              [options]="trangThaiOPtions"
              [(ngModel)]="trangThai"
              optionLabel="text"
              optionValue="value"
              [showClear]="true"
              [autoDisplayFirst]="false"
              styleClass="w-full"
              (onChange)="loadData()"
            ></p-dropdown>
            <label>Trạng thái</label>
          </span>
        </div> 
        <!-- --------------------------------------------------------------------------------- -->
        <div *abpPermission="'Denounces'" class="field col-12 md:col-3">
          <span class="p-float-label">
            <p-dropdown
              [options]="congKhaiOptions"
              [(ngModel)]="congKhai"
              optionLabel="text"
              optionValue="value"
              [showClear]="true"
              [autoDisplayFirst]="false"
              styleClass="w-full"
              (onChange)="loadData()"
            ></p-dropdown>
            <label>Công khai</label>
          </span>
        </div>
      </div>
    </p-toolbar>
    <!-- ----------------------------------------------------------------------- -->
    <p-toolbar>
      <ng-template pTemplate="left">
        <!-- <h3 style="color: blue">Kết quả tìm kiếm</h3> -->
      </ng-template>

      <ng-template pTemplate="right">
        <button
          *abpPermission="'Denounces.Create'"
          type="button"
          pButton
          pRipple
          label="Thêm"
          icon="pi pi-plus"
          class="p-button-info mr-2"
          (click)="showAddModal()"
        ></button>
        <!-- *abpPermission="'Denounces'" -->
        <button
          type="button"
          pButton
          pRipple
          label="Xuất exel"
          icon="pi pi-download"
          class="p-button-info mr-2"
          (click)="exportExcel()"
        ></button>
      </ng-template>
    </p-toolbar>

    <p-table
      #dt
      [value]="items"
      [rows]="10"
      [paginator]="false"
      [(selection)]="selectedItems"
      [rowHover]="true"
      dataKey="id"
    >
      <ng-template pTemplate="header">
        <tr>
          <th class="row-num-column">STT</th>
          <th style="min-width: 80px">Mã hồ sơ</th>
          <th style="min-width: 150px">Nội dung TC</th>
          <th style="min-width: 100px">Người nộp đơn</th>
          <th>Số ĐT</th>
          <th style="min-width: 130px">Địa chỉ</th>
          <th style="min-width: 100px">Người bị tố cáo</th>
          <th style="min-width: 120px">Người giải quyết</th>
          <th>Thời gian nộp</th>
          <th>Ngày hẹn trả KQ</th>
          <th style="min-width: 110px">Bộ phận thực hiện</th>
          <th style="min-width: 90px">Trạng thái</th>
          <th style="min-width: 100px">Kết luận</th>
          <th *ngIf="visibleActionColumn" class="action-column">{{ Actions.ACTION }}</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-row let-rowIndex="rowIndex">
        <tr>
          <!-- <td>
            <p-tableCheckbox [value]="row"></p-tableCheckbox>
          </td> -->
          <td class="row-num-cell">{{ skipCount + rowIndex + 1 }}</td>
          <td>
            <span [ngStyle]="{ color: '#ed5565' }" class="p-link" (click)="viewDetail(row)">{{
              row.maHoSo
            }}</span>
          </td>
          <td>
            <span [ngStyle]="{ color: '#ed5565' }" class="p-link" (click)="viewDetail(row)">{{
              row.tieuDe
            }}</span>
          </td>
          <td>{{ row.nguoiNopDon }}</td>
          <td>{{ row.dienThoai }}</td>
          <td>{{ row.diaChiLienHe }}</td>
          <td>{{ row.nguoiBiToCao }}</td>
          <td>{{ row.nguoiGQTC }}</td>

          <td>
            {{ row?.thoiGianTiepNhan | date : 'dd/MM/yyyy HH:mm' }}
          </td>
          <td>
            {{ row?.thoiGianHenTraKQ | date : 'dd/MM/yyyy HH:mm' }}
          </td>
          <td>{{ row?.boPhanDangXL }}</td>
          <td style="color:blue">{{ TrangthaiOptions[(row?.trangThai)? row?.trangThai : 0]}}</td>
          <td>{{ getLoaiKetQua(row?.ketQua) }}</td>
          <td *ngIf="visibleActionColumn">
            <p-tieredMenu
              [showTransitionOptions]="'300ms'"
              [hideTransitionOptions]="'300ms'"
              #menu
              [model]="actionMenu"
              [popup]="true"
              appendTo="body"
            ></p-tieredMenu>
            <button
              #btn
              pButton
              pRipple
              type="button"
              icon="pi pi-fw pi-cog"
              [pTooltip]="Actions.ACTION"
              tooltipPosition="top"
              (click)="menu.toggle($event); setActionItem(row)"
              style="height: 2rem"
            ></button>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="summary">
        <p-paginator
          [rows]="maxResultCount"
          [totalRecords]="totalCount"
          [showCurrentPageReport]="true"
          [showJumpToPageInput]="true"
          (onPageChange)="pageChanged($event)"
          currentPageReportTemplate="{totalRecords} bản ghi"
          [rowsPerPageOptions]="[10, 20, 50, 100]"
        ></p-paginator>
      </ng-template>
    </p-table>
    <!-- ----------------------------------------------------------------------- -->
  </p-panel>
</div>
<ng-template #emptyTpl><td></td></ng-template>
