<p-panel #pnlPm>
  <p-listbox
    [options]="groupedPermisssions"
    [group]="true"
    [(ngModel)]="selectedPermissions"
    [metaKeySelection]="false"
    [checkbox]="true"
    [filter]="true"
    [multiple]="true"
    filterPlaceHolder="Tên quyền"
    [listStyle]="{ height: '60vh' }"
  >
    <ng-template let-group pTemplate="group">
      <div
        class="flex justify-content-center align-items-center"
        style="background-color: #3b82f6; height: 3rem"
      >
        <span style="color: #fff; text-align: center">{{ group.label }}</span>
      </div>
    </ng-template>
  </p-listbox>
  <ng-template pTemplate="footer">
    <div class="flex justify-content-end">
      <button
        pButton
        pRipples
        type="submit"
        label="Lưu"
        class="p-button-info mr-2"
        (click)="saveChange()"
        icon="pi pi-check"
      ></button>
      <button
        pButton
        pRipples
        type="button"
        (click)="close()"
        label="Đóng"
        class="p-button-danger"
        icon="pi pi-times"
      ></button>
    </div>
  </ng-template>

  <p-blockUI [target]="pnlPm" [blocked]="blockedPanelDetail">
    <p-progressSpinner
      [style]="{ width: '100px', height: '100px', position: 'absolute', top: '25%', left: '50%' }"
      strokeWidth="2"
      animationDuration=".5s"
    ></p-progressSpinner>
  </p-blockUI>
</p-panel>
