<div class="animated fadeIn grid">
  <!-- --------------Sidebar--------------------------------------------------------- -->
  <div [@hideColumn]="hideColumnState" class="col-12 md:col-2 home-sidebar">
    <p-card>
      <ng-template pTemplate="header">
        <h5 class="home-sidebar-header">LỚP BẢN ĐỒ</h5>
      </ng-template>
      <!-- ----------------------------------------------------------------------- -->
      <div class="grid col-12 md:col-12">
        <div class="group-header ml-3">
          <img src="assets/images/map/quyhoach_icon.png" alt="Bản đồ nền" />
          <span>Bản đồ nền</span>          
        </div>
        <!-- ----------------------------------------------------------------------- -->
        <div *ngFor="let basemap of baseMapList; let i = index" class="inputgroup">
          <span class="ml-5">{{ basemap.baseMapName }}</span>
          <p-inputSwitch (onChange)="changeBaseMap(i, basemap.baseMapCode, $event)"></p-inputSwitch>
        </div>
      </div>
      <!-- ----------------------------------------------------------------------- -->
      <div class="grid col-12 md:col-12">
        <div class="group-header ml-3 kn">
          <i class="pi pi-envelope" style="font-size: 2rem"></i>
          <span>Khiếu nại</span>
        </div>
        <!-- ----------------------------------------------------------------------- -->
        <div class="inputgroup">
          <span class="ml-5">Đất đai</span>
          <p-inputSwitch class="land-switch" [(ngModel)]="landComplain" (onChange)="loadData()"></p-inputSwitch>
        </div>
        <!-- ----------------------------------------------------------------------- -->
        <div class="inputgroup">
          <span class="ml-5">Môi trường</span>
          <p-inputSwitch class="enviroment-switch" [(ngModel)]="enviromentComplain" (onChange)="loadData()"></p-inputSwitch>
        </div>
        <!-- ----------------------------------------------------------------------- -->
        <div class="inputgroup">
          <span class="ml-5">Khoáng sản</span>
          <p-inputSwitch class="mineral-switch" [(ngModel)]="mineralComplain" (onChange)="loadData()"></p-inputSwitch>
        </div>
        <!-- ----------------------------------------------------------------------- -->
        <div class="inputgroup">
          <span class="ml-5">Tài nguyên nước</span>
          <p-inputSwitch class="water-switch" [(ngModel)]="waterComplain" (onChange)="loadData()"></p-inputSwitch>
        </div>
        <!-- ----------------------------------------------------------------------- -->
        <div class="group-header ml-3 mt-5 tc">
          <i class="fa fa-balance-scale" style="font-size: 2rem"></i>
          <span>Tố Cáo</span>
        </div>
        <!-- ----------------------------------------------------------------------- -->
        <div class="inputgroup">
          <span class="ml-5">Đất đai</span>
          <p-inputSwitch class="land-switch" [(ngModel)]="landDenounce" (onChange)="loadData()"></p-inputSwitch>
        </div>
        <!-- ----------------------------------------------------------------------- -->
        <div class="inputgroup">
          <span class="ml-5">Môi trường</span>
          <p-inputSwitch class="enviroment-switch" [(ngModel)]="enviromentDenounce" (onChange)="loadData()"></p-inputSwitch>
        </div>
        <!-- ----------------------------------------------------------------------- -->
        <div class="inputgroup">
          <span class="ml-5">Khoáng sản</span>
          <p-inputSwitch class="mineral-switch" [(ngModel)]="mineralDenounce" (onChange)="loadData()"></p-inputSwitch>
        </div>
        <!-- ----------------------------------------------------------------------- -->
        <div class="inputgroup">
          <span class="ml-5">Tài nguyên nước</span>
          <p-inputSwitch class="water-switch" [(ngModel)]="waterDenounce" (onChange)="loadData()"></p-inputSwitch>
        </div>
      </div>
    </p-card>
  </div>
  <!-- ----------------------Main------------------------------------------------- -->
  <div [@expandColumn]="expandColumnState" class="col-12 md:col-10 grid">
    <div
      style="height: 90vh; width: 1%"
      class="flex flex-column justify-content-center align-items-center"
    >
      <button
        *ngIf="visibleFilterLeff"
        pButton
        pRipple
        type="button"
        icon="pi pi-angle-left"
        class="p-button-info p-button-lg"
        (click)="toggleMenuLeft()"
      ></button>
      <button
        *ngIf="!visibleFilterLeff"
        pButton
        pRipple
        type="button"
        icon="pi pi-angle-right"
        class="p-button-info p-button-lg"
        (click)="toggleMenuLeft()"
      ></button>
    </div>
    <div style="width: 99%">
      <p-breadcrumb [home]="home"></p-breadcrumb>
      <p-card>
        <app-map [data]="dataMap" [basemap]="baseMap" heightMap="80vh" [zoomLv]="10"></app-map>
      </p-card>
    </div>
  </div>
</div>
