<div class="animated fadeIn grid">
  <!-- --------------Sidebar--------------------------------------------------------- -->
  <div [@hideColumn]="hideColumnState" class="col-12 md:col-2 home-sidebar">
    <p-card>
      <ng-template pTemplate="header">
        <h5 class="home-sidebar-header">LỚP BẢN ĐỒ</h5>
      </ng-template>
      <!-- ----------------------------------------------------------------------- -->
      <!-- <div class="grid col-12 md:col-12">
        <div id="quyhoach" class="group-header ml-3">
          <img src="assets/images/map/quyhoach_icon.png" alt="Bản đồ quy hoạch" />
          <span>Bản đồ quy hoạch</span>
          <p-inputSwitch [(ngModel)]="geo"></p-inputSwitch>
        </div>
      </div> -->
      <!-- ----------------------------------------------------------------------- -->
      <div class="grid col-12 md:col-12">
        <div class="group-header ml-3">
          <img src="assets/images/map/marker-icon.png" alt="Khiếu nại" />
          <span>Khiếu nại</span>
        </div>
        <!-- ----------------------------------------------------------------------- -->
        <div class="inputgroup">
          <span class="ml-5">Đất đai</span>
          <p-inputSwitch [(ngModel)]="landComplain" (onChange)="loadData()"></p-inputSwitch>
        </div>
        <!-- ----------------------------------------------------------------------- -->
        <div class="inputgroup">
          <span class="ml-5">Môi trường</span>
          <p-inputSwitch [(ngModel)]="enviromentComplain" (onChange)="loadData()"></p-inputSwitch>
        </div>
        <!-- ----------------------------------------------------------------------- -->
        <div class="inputgroup">
          <span class="ml-5">Khoáng sản</span>
          <p-inputSwitch [(ngModel)]="mineralComplain" (onChange)="loadData()"></p-inputSwitch>
        </div>
        <!-- ----------------------------------------------------------------------- -->
        <div class="inputgroup">
          <span class="ml-5">Tài nguyên nước</span>
          <p-inputSwitch [(ngModel)]="waterComplain" (onChange)="loadData()"></p-inputSwitch>
        </div>        
        <!-- ----------------------------------------------------------------------- -->
        <div class="group-header ml-3 mt-5">
          <img src="assets/images/map/marker-icon-red.png" class="icon-red" alt="Tố cáo" />
          <span>Tố Cáo</span>
        </div>
        <!-- ----------------------------------------------------------------------- -->
        <div class="inputgroup">
          <span class="ml-5">Đất đai</span>
          <p-inputSwitch [(ngModel)]="landDenounce" (onChange)="loadData()"></p-inputSwitch>
        </div>
        <!-- ----------------------------------------------------------------------- -->
        <div class="inputgroup">
          <span class="ml-5">Môi trường</span>
          <p-inputSwitch [(ngModel)]="enviromentDenounce" (onChange)="loadData()"></p-inputSwitch>
        </div>
        <!-- ----------------------------------------------------------------------- -->
        <div class="inputgroup">
          <span class="ml-5">Khoáng sản</span>
          <p-inputSwitch [(ngModel)]="mineralDenounce" (onChange)="loadData()"></p-inputSwitch>
        </div>
        <!-- ----------------------------------------------------------------------- -->
        <div class="inputgroup">
          <span class="ml-5">Tài nguyên nước</span>
          <p-inputSwitch [(ngModel)]="waterDenounce" (onChange)="loadData()"></p-inputSwitch>
        </div>        
      </div>
    </p-card>
  </div>
  <!-- ----------------------Main------------------------------------------------- -->
  <div [@expandColumn]="expandColumnState" class="col-12 md:col-10 grid">
    <div
      style="height: 90vh; width: 1%"
      class="flex flex-column justify-content-center align-items-center"
    >
      <button
        *ngIf="visibleFilterLeff"
        pButton
        pRipple
        type="button"
        icon="pi pi-angle-left"
        class="p-button-info p-button-lg"
        (click)="toggleMenuLeft()"
      ></button>
      <button
        *ngIf="!visibleFilterLeff"
        pButton
        pRipple
        type="button"
        icon="pi pi-angle-right"
        class="p-button-info p-button-lg"
        (click)="toggleMenuLeft()"
      ></button>
    </div>
    <div style="width: 99%">
      <p-breadcrumb [home]="home"></p-breadcrumb>
      <p-card>
        <app-map [data]="dataMap" [bShowSpatial]="geo" heightMap="80vh" [zoomLv]="10"></app-map>
      </p-card>
    </div>
  </div>
</div>
