<div class="animated fadeIn grid card">
  <!-- --------------Sidebar--------------------------------------------------------- -->
  <div [@hideColumn]="hideColumnState" class="col-12 md:col-2 home-sidebar">
    <p-card>
      <ng-template pTemplate="header">
        <h5 class="home-sidebar-header">LỚP BẢN ĐỒ</h5>
      </ng-template>
      <!-- ----------------------------------------------------------------------- -->
      <div class="grid col-12 md:col-12">
        <div class="group-header ml-3">
          <img src="assets/images/map/marker-icon.png" alt="Khiếu nại" />
          <span>Khiếu nại</span>
        </div>
        <!-- ----------------------------------------------------------------------- -->
        <div class="inputgroup">
          <span class="ml-5">Đất đai</span>
          <p-inputSwitch [(ngModel)]="landComplain" (onChange)="loadData()"></p-inputSwitch>
        </div>
        <!-- ----------------------------------------------------------------------- -->
        <div class="inputgroup">
          <span class="ml-5">Môi trường</span>
          <p-inputSwitch [(ngModel)]="enviromentComplain" (onChange)="loadData()"></p-inputSwitch>
        </div>
        <!-- ----------------------------------------------------------------------- -->
        <div class="inputgroup">
          <span class="ml-5">Tài nguyên nước</span>
          <p-inputSwitch [(ngModel)]="waterComplain" (onChange)="loadData()"></p-inputSwitch>
        </div>
        <!-- ----------------------------------------------------------------------- -->
        <div class="inputgroup">
          <span class="ml-5">Khoáng sản</span>
          <p-inputSwitch [(ngModel)]="mineralComplain" (onChange)="loadData()"></p-inputSwitch>
        </div>
        <!-- ----------------------------------------------------------------------- -->
        <div class="group-header ml-3 mt-5">
          <img src="assets/images/map/marker-icon-red.png" class="icon-red" alt="Tố cáo" />
          <span>Tố Cáo</span>
        </div>
        <!-- ----------------------------------------------------------------------- -->
        <div class="inputgroup">
          <span class="ml-5">Đất đai</span>
          <p-inputSwitch [(ngModel)]="landDenounce" (onChange)="loadData()"></p-inputSwitch>
        </div>
        <!-- ----------------------------------------------------------------------- -->
        <div class="inputgroup">
          <span class="ml-5">Môi trường</span>
          <p-inputSwitch [(ngModel)]="enviromentDenounce" (onChange)="loadData()"></p-inputSwitch>
        </div>
        <!-- ----------------------------------------------------------------------- -->
        <div class="inputgroup">
          <span class="ml-5">Tài nguyên nước</span>
          <p-inputSwitch [(ngModel)]="waterDenounce" (onChange)="loadData()"></p-inputSwitch>
        </div>
        <!-- ----------------------------------------------------------------------- -->
        <div class="inputgroup">
          <span class="ml-5">Khoáng sản</span>
          <p-inputSwitch [(ngModel)]="mineralDenounce" (onChange)="loadData()"></p-inputSwitch>
        </div>
        <!-- ----------------------------------------------------------------------- -->
      </div>
    </p-card>
  </div>
  <!-- ----------------------Main------------------------------------------------- -->
  <div [@expandColumn]="expandColumnState" class="col-12 md:col-10 grid">
    <div
      style="height: 90vh; width: 1%"
      class="flex flex-column justify-content-center align-items-center"
    >
      <button
        *ngIf="visibleFilterLeff"
        pButton
        pRipple
        type="button"
        icon="pi pi-angle-left"
        class="p-button-info p-button-lg"
        (click)="toggleMenuLeft()"
      ></button>
      <button
        *ngIf="!visibleFilterLeff"
        pButton
        pRipple
        type="button"
        icon="pi pi-angle-right"
        class="p-button-info p-button-lg"
        (click)="toggleMenuLeft()"
      ></button>
    </div>
    <div style="width: 99%">
      <p-breadcrumb [model]="breadcrumb" [home]="home"></p-breadcrumb>
      <p-panel #pnl>
        <div class="grid">
          <div class="col-6 md:col-6 flex flex-column justify-content-between">
            <p-card header="Biểu đồ tình hình khiếu nại, tố cáo" class="flex-1">
              <div class="flex justify-content-center">
                <p-chart
                  type="pie"
                  [data]="dataPieChart"
                  [options]="pieChartOptions"
                  [style]="{ width: '60%' }"
                ></p-chart>
              </div>
            </p-card>
            <p-card header="Thống kê tình hình khiếu nại, tố cáo" class="flex-1">
              <p-chart
                type="bar"
                [data]="dataBarChart"
                [options]="barChartOptions"
                height="350px"
              ></p-chart>
            </p-card>
          </div>
          <div class="col-6 md:col-6">
            <!--app-map [data]="dataMap" [spatialData]="spatialData" heightMap="100%"></app-map-->
            <app-map [data]="dataMap" heightMap="100%"></app-map>
          </div>
        </div>

        <!-- ----------------------------------------------------------------------- -->
        <!-- <p-card>
          <p-toolbar>
            <ng-template pTemplate="left">
              <h3 style="color: blue">Danh sách tố cáo, khiếu nại</h3>
            </ng-template>

            <ng-template pTemplate="right">
              <button
                type="button"
                pButton
                pRipple
                label="Xuất"
                icon="pi pi-download"
                class="p-button-info mr-2"
              ></button>
            </ng-template>
          </p-toolbar>

          <p-table
            #dt
            [value]="items"
            [rows]="10"
            [paginator]="false"
            [rowHover]="true"
            dataKey="id"
          >
            <ng-template pTemplate="header">
              <tr>
                <th class="row-num-column">STT</th>
                <th>Mã hồ sơ</th>
                <th>Người nộp đơn</th>
                <th>Số ĐT</th>
                <th>Địa chỉ</th>
                <th>Loại vụ việc</th>
                <th>Lĩnh vực</th>
                <th>Nội dung</th>
                <th>Thời gian nộp</th>
                <th>Ngày hẹn trả KQ</th>
                <th>Bộ phận đang XL</th>
                <th style="width: 150px">Trạng thái</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-row let-rowIndex="rowIndex">
              <tr>
                <td class="row-num-cell">{{ skipCount + rowIndex + 1 }}</td>
                <td>
                  <span class="p-link" (click)="viewDetail(row)">{{ row.maHoSo }}</span>
                </td>
                <td>{{ row.nguoiNopDon }}</td>
                <td>{{ row.dienThoai }}</td>
                <td>{{ row.diaChiLienHe }}</td>
                <td>{{ getLoaiVuViecName(row.loaiVuViec) }}</td>
                <td>{{ getLinhVucName(row.linhVuc) }}</td>
                <td>{{ row.tieuDe }}</td>
                <td>
                  {{ row?.thoiGianTiepNhan | date : 'dd/MM/yyyy HH:mm' }}
                </td>
                <td>
                  {{ row?.thoiGianHenTraKQ | date : 'dd/MM/yyyy HH:mm' }}
                </td>
                <td>{{ row.boPhanDangXL }}</td>
                <td>{{ getLoaiKetQua(row?.ketQua) }}</td>
              </tr>
            </ng-template>
            <ng-template pTemplate="summary">
              <p-paginator
                [rows]="maxResultCount"
                [totalRecords]="totalCount"
                [showCurrentPageReport]="true"
                [showJumpToPageInput]="true"
                (onPageChange)="pageChanged($event)"
                currentPageReportTemplate="{totalRecords} bản ghi"
                [rowsPerPageOptions]="[10, 20, 50, 100]"
              ></p-paginator>
            </ng-template>
          </p-table>-->
          <!-- ----------------------------------------------------------------------- -->
        <!-- </p-card>  -->
        <!-- ----------------------------------------------------------------------- -->
      </p-panel>
    </div>
  </div>
</div>
