.home-sidebar {
  // background-color: var(--gray-500);
  // height: 500px;
  //margin-top: 1rem;
}
.inputgroup {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.group-header {
  display: flex;
  align-items: center;
  width: 100%;
  span {
    font-weight: bold;
    font-size: 1.1rem;
    margin-left: 10px;
  }
  .icon-red {
    /*width: 3rem;
    height: 3rem;
    margin-left: -10px;*/
  }
}
.chart-container {
  height: 500px;
  // display: flex;
  // align-items: center;
  // justify-content: center;
  background-color: red;
}
.chart-container2 {
  height: 500px;
  // display: flex;
  // align-items: center;
  // justify-content: center;
  background-color: blue;
}
