.p-element{
  width: 100%;
}
.map-popup-header {
  text-align: center !important;
  font-size: 1rem !important;
  font-weight: bold !important;
}
.col-12 {
  padding: 8px !important;
}
.col-6 {
  padding: 8px !important;
}