<div class="animated fadeIn card">
  <p-panel #pnl header="Quản lý loại hình thức tệp gắn kèm">
    <p-toolbar>
      <ng-template pTemplate="left">
        <button
          *abpPermission="'DocumentType.Create'"
          type="button"
          pButton
          pRipple
          [label]="Actions.CREATE"
          icon="pi pi-plus"
          class="p-button-info mr-1"
          [pTooltip]="Actions.CREATE"
          tooltipPosition="top"
          (click)="showAddModal()"
        ></button>
        <button
          *abpPermission="'DocumentType.Delete'"
          type="button"
          pButton
          pRipple
          [label]="Delete"
          icon="pi pi-trash"
          class="p-button-danger"
          [pTooltip]="Actions.DELETE"
          tooltipPosition="top"
          (click)="deleteItems()"
          [disabled]="!selectedItems || !selectedItems.length"
        ></button>
      </ng-template>

      <ng-template pTemplate="right">
        <span class="p-input-icon-left search-width">
          <i class="pi pi-search"></i>
          <input
            pInputText
            type="text"
            (keyup.enter)="loadData()"
            [(ngModel)]="keyword"
            placeholder="Tìm kiếm"
            class="w-full"
          />
        </span>
      </ng-template>
    </p-toolbar>

    <p-table
      #dt
      [value]="items"
      [rows]="10"
      [paginator]="false"
      [(selection)]="selectedItems"
      [rowHover]="true"
      dataKey="id"
    >
      <ng-template pTemplate="header">
        <tr>
          <th style="width: 3rem">
            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
          </th>
          <th class="row-num-column">STT</th>
          <th pSortableColumn="documentTypeCode">Mã</th>
          <th pSortableColumn="documentTypeName">Tên</th>
          <th pSortableColumn="status">Trạng thái</th>
          <th *ngIf="visibleActionColumn" class="action-column"></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-row let-rowIndex="rowIndex">
        <tr>
          <td>
            <p-tableCheckbox [value]="row"></p-tableCheckbox>
          </td>
          <td class="row-num-cell">{{ skipCount + rowIndex + 1 }}</td>
          <td>{{ row.documentTypeCode }}</td>
          <td>{{ row.documentTypeName }}</td>
          <td>
            <p-tag
              styleClass="mr-1"
              [severity]="row.status == 1 ? 'info' : 'warning'"
              [value]="row.status == 1 ? 'Hoạt động' : 'Khóa'"
            >
            </p-tag>
          </td>
          <td *ngIf="visibleActionColumn">
            <p-tieredMenu
              [showTransitionOptions]="'300ms'"
              [hideTransitionOptions]="'300ms'"
              #menu
              [model]="actionMenu"
              [popup]="true"
              appendTo="body"
            ></p-tieredMenu>
            <button
              #btn
              pButton
              pRipple
              type="button"
              icon="pi pi-fw pi-cog"
              [label]="Actions.ACTION"
              [pTooltip]="Actions.ACTION"
              tooltipPosition="top"
              (click)="menu.toggle($event); setActionItem(row)"
              style="height: 2rem;"
            ></button>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="summary">
        <p-paginator
          [rows]="maxResultCount"
          [totalRecords]="totalCount"
          [showCurrentPageReport]="true"
          [showJumpToPageInput]="true"
          (onPageChange)="pageChanged($event)"
          currentPageReportTemplate="{totalRecords} bản ghi"
          [rowsPerPageOptions]="[10, 20, 50, 100]"
        ></p-paginator>
      </ng-template>
    </p-table>

    <p-blockUI [target]="pnl" [blocked]="blockedPanel">
      <p-progressSpinner
        [style]="{ width: '100px', height: '100px', position: 'absolute', top: '25%', left: '50%' }"
        strokeWidth="2"
        animationDuration=".5s"
      ></p-progressSpinner>
    </p-blockUI>
  </p-panel>
</div>
