<form [formGroup]="form">
  <p-panel #pnlDetail [collapsed]="false">
    <div class="formgrid grid card">
      <!-- -----------------------------------tenTaiLieu----------------------------------------------- -->
      <div class="field col-12 md:col-6">
        <span class="p-float-label">
          <input
            id="tenTaiLieu"
            formControlName="tenTaiLieu"
            type="text"
            pInputText
            [style]="{ width: '100%' }"
          />
          <label for="tenTaiLieu">Tên tài liệu <span class="required">*</span></label>
        </span>
        <app-validation-message
          [entityControl]="formControls.tenTaiLieu"
          [validationMessages]="validationMessages.tenTaiLieu"
        >
        </app-validation-message>
      </div>
      <!-- -----------------------------------------giaiDoan---------------------------------------- -->
      <div *ngIf="loaiVuViec == LoaiVuViec.KhieuNai" class="field col-12 md:col-6">
        <span class="p-float-label">
          <p-dropdown
            formControlName="giaiDoan"
            [options]="giaiDoanOptions"
            optionLabel="text"
            optionValue="value"
            [showClear]="true"
            [autoDisplayFirst]="false"
            styleClass="w-full"
          ></p-dropdown>
          <label>Giai đoạn <span class="required">*</span></label>
        </span>
        <app-validation-message
          [entityControl]="formControls.giaiDoan"
          [validationMessages]="validationMessages.giaiDoan"
        >
        </app-validation-message>
      </div>
      <!-- -----------------------------------------hinhThuc---------------------------------------- -->
      <div class="field col-12 md:col-6">
        <span class="p-float-label">
          <p-dropdown
            formControlName="hinhThuc"
            [options]="documentTypeOptions"
            optionLabel="documentTypeName"
            optionValue="id"
            [showClear]="true"
            [autoDisplayFirst]="false"
            [filter]="true"
            filterBy="documentTypeName"
            styleClass="w-full"
          ></p-dropdown>
          <label>Hình thức <span class="required">*</span></label>
        </span>
        <app-validation-message
          [entityControl]="formControls.hinhThuc"
          [validationMessages]="validationMessages.hinhThuc"
        >
        </app-validation-message>
      </div>
      <!-- ---------------------------------ngayNhan------------------------------------------------- -->
      <div class="field col-12 md:col-6">
        <span class="p-float-label">
          <p-calendar
            id="ngayNhan"
            formControlName="ngayNhan"
            appendTo="body"
            dateFormat="dd/mm/yy"
            [showClear]="true"
            showTime="true"
            [hourFormat]="24"
          ></p-calendar>
          <label>Ngày nhận <span class="required">*</span></label>
        </span>
        <app-validation-message
          [entityControl]="formControls.ngayNhan"
          [validationMessages]="validationMessages.ngayNhan"
        >
        </app-validation-message>
      </div>
      <!-- ---------------------------------thoiGianBanHanh------------------------------------------------- -->
      <div class="field col-12 md:col-6">
        <span class="p-float-label">
          <p-calendar
            id="thoiGianBanHanh"
            formControlName="thoiGianBanHanh"
            appendTo="body"
            dateFormat="dd/mm/yy"
            [showClear]="true"
            showTime="true"
            [hourFormat]="24"
          ></p-calendar>
          <label>Thời gian ban hành <span class="required">*</span></label>
        </span>
        <app-validation-message
          [entityControl]="formControls.thoiGianBanHanh"
          [validationMessages]="validationMessages.thoiGianBanHanh"
        >
        </app-validation-message>
      </div>
      <!-- ---------------------------------thuTuButLuc----------------------=----------------------------- -->
      <div class="field col-12 md:col-6">
        <span class="p-float-label">
          <input
            id="thuTuButLuc"
            type="text"
            pInputText
            formControlName="thuTuButLuc"
            [style]="{ width: '100%' }"
          />
          <label for="thuTuButLuc">Thứ tự bút lục <span class="required">*</span></label>
        </span>
        <app-validation-message
          [entityControl]="formControls.thuTuButLuc"
          [validationMessages]="validationMessages.thuTuButLuc"
        >
        </app-validation-message>
      </div>
      <!-- ----------------------------congKhai---------------------------=----------------------------- -->
      <div class="field col-12 md:col-6">
        <p-checkbox binary="true" label="Công khai" formControlName="congKhai"></p-checkbox>
        <app-validation-message
          [entityControl]="formControls.congKhai"
          [validationMessages]="validationMessages.congKhai"
        >
        </app-validation-message>
      </div>

      <!-- ----------------------------noiDungChinh---------------------------=----------------------------- -->
      <div class="field col-12 md:col-12">
        <label>Nội dung chính <span class="required">*</span></label>
        <p-editor
          id="noiDungChinh"
          formControlName="noiDungChinh"
          class="w-full"
          [style]="{ height: '150px' }"
          [readonly]="isView"
        ></p-editor>
        <app-validation-message
          [entityControl]="formControls.noiDungChinh"
          [validationMessages]="validationMessages.noiDungChinh"
        >
        </app-validation-message>
      </div>
      <!-- -----------------------------------fileName----------------------------------------------- -->
      <div class="field col-12 md:col-6">
        <span class="p-float-label">
          <input
            id="fileName"
            formControlName="fileName"
            type="text"
            pInputText
            [style]="{ width: '100%' }"
            readonly
          />
          <label for="fileName">Tên File <span class="required">*</span></label>
        </span>
        <app-validation-message
          [entityControl]="formControls.fileName"
          [validationMessages]="validationMessages.fileName"
        >
        </app-validation-message>
      </div>
      <!-- ----------------------------file---------------------------=----------------------------- -->
      <div *ngIf="!isView" class="field col-12 md:col-6">
        <p-fileUpload
          name="file[]"
          [customUpload]="true"
          invalidFileSizeMessageSummary="{0}: Vượt quá dung lượng cho phép!"
          chooseLabel="Chọn tệp"
          uploadLabel="Tải lên"
          cancelLabel="Hủy"
          [auto]="true"
          (uploadHandler)="choseFile($event)"
          (onRemove)="removeFile($event)"
        ></p-fileUpload>
      </div>
      <!-- ---------------------------------------------------------------------------------- -->
    </div>

    <ng-template *ngIf="!isView" pTemplate="footer">
      <div class="flex justify-content-end">
        <button
          pButton
          pRipples
          type="submit"
          (click)="saveChange()"
          label="Lưu"
          class="p-button-info mr-2"
          icon="pi pi-check"
        ></button>
        <button
          pButton
          pRipples
          type="button"
          (click)="closeModal()"
          label="Đóng"
          class="p-button-danger"
          icon="pi pi-times"
        ></button>
      </div>
    </ng-template>
  </p-panel>
</form>
