<form class="form-horizontal form-label-left" skipValidation [formGroup]="form">
  <p-panel #pnlDetail [collapsed]="false">
    <p-tabView styleClass="tabview-custom">
      <!-- ----------------------------------------------------------------------- -->
      <p-tabPanel>
        <ng-template pTemplate="header">
          <i class="pi pi-fw pi-envelope mr-2"></i>
          <span>Hồ sơ</span>
        </ng-template>

        <ng-template pTemplate="content">
          <div class="formgrid grid">
            <!-- -------------------------------Thông tin khiếu nại/khiếu kiện--------------------------------------------------- -->
            <p-fieldset legend="Thông tin khiếu nại/khiếu kiện" [toggleable]="true" class="w-full">
              <div class="grid">
                <!-- -------------------------------maHoSo--------------------------------------------------- -->
                <div class="field col-12 md:col-6">
                  <span class="p-float-label">
                    <input
                      id="maHoSo"
                      formControlName="maHoSo"
                      type="text"
                      pInputText
                      [style]="{ width: '100%' }"
                    />
                    <label for="name">Mã hồ sơ <span class="required">*</span></label>
                  </span>
                  <app-validation-message
                    [entityControl]="formControls.maHoSo"
                    [validationMessages]="validationMessages.maHoSo"
                  >
                  </app-validation-message>
                </div>
                <!-- ----------------------------tieuDe---------------------------=----------------------------- -->
                <div class="field col-12 md:col-6">
                  <span class="p-float-label">
                    <input
                      id="tieuDe"
                      formControlName="tieuDe"
                      type="text"
                      pInputText
                      [style]="{ width: '100%' }"
                    />
                    <label for="tieuDe">Tiêu đề <span class="required">*</span></label>
                  </span>
                  <app-validation-message
                    [entityControl]="formControls.tieuDe"
                    [validationMessages]="validationMessages.tieuDe"
                  >
                  </app-validation-message>
                </div>
                <!-- ----------------------------nguoiNopDon---------------------------=----------------------------- -->
                <div class="field col-12 md:col-6">
                  <span class="p-float-label">
                    <input
                      id="nguoiNopDon"
                      formControlName="nguoiNopDon"
                      type="text"
                      pInputText
                      [style]="{ width: '100%' }"
                    />
                    <label for="nguoiNopDon">Người đề nghị <span class="required">*</span></label>
                  </span>
                  <app-validation-message
                    [entityControl]="formControls.nguoiNopDon"
                    [validationMessages]="validationMessages.nguoiNopDon"
                  >
                  </app-validation-message>
                </div>
                <!-- ----------------------------cccdCmnd---------------------------=----------------------------- -->
                <div class="field col-12 md:col-6">
                  <span class="p-float-label">
                    <input
                      id="cccdCmnd"
                      formControlName="cccdCmnd"
                      type="text"
                      pInputText
                      [style]="{ width: '100%' }"
                    />
                    <label for="cccdCmnd">CCCD/CMND <span class="required">*</span></label>
                  </span>
                  <app-validation-message
                    [entityControl]="formControls.cccdCmnd"
                    [validationMessages]="validationMessages.cccdCmnd"
                  >
                  </app-validation-message>
                </div>
                <!-- ---------------------------------ngaySinh------------------------------------------------- -->
                <div class="field col-12 md:col-6">
                  <span class="p-float-label">
                    <p-calendar
                      id="ngaySinh"
                      formControlName="ngaySinh"
                      appendTo="body"
                      dateFormat="dd/mm/yy"
                      [showClear]="true"
                      inputId="dob"
                    ></p-calendar>
                    <label for="ngaySinh">Ngày sinh <span class="required">*</span></label>
                    <app-validation-message
                      [entityControl]="formControls.ngaySinh"
                      [validationMessages]="validationMessages.ngaySinh"
                    >
                    </app-validation-message>
                  </span>
                </div>
                <!-- ------------------------------dienThoai---------------------------------------------------- -->
                <div class="field col-12 md:col-6">
                  <span class="p-float-label">
                    <input
                      id="dienThoai"
                      formControlName="dienThoai"
                      type="text"
                      pInputText
                      class="w-full"
                    />
                    <label for="phoneNumber">Số ĐT<span class="required">*</span></label>
                  </span>
                  <app-validation-message
                    [entityControl]="formControls.dienThoai"
                    [validationMessages]="validationMessages.dienThoai"
                  >
                  </app-validation-message>
                </div>
                <!-- -----------------------------email----------------------------------------------------- -->
                <div class="field col-12 md:col-6">
                  <span class="p-float-label">
                    <input
                      id="email"
                      formControlName="email"
                      type="text"
                      pInputText
                      class="w-full"
                    />
                    <label for="email">Email</label>
                  </span>
                  <app-validation-message
                    [entityControl]="formControls.email"
                    [validationMessages]="validationMessages.email"
                  >
                  </app-validation-message>
                </div>
                <!-- ----------------------------maTinhTP---------------------------=----------------------------- -->
                <div class="field col-12 md:col-6">
                  <span class="p-float-label">
                    <p-dropdown
                      id="maTinhTP"
                      formControlName="maTinhTP"
                      [options]="tinhOptions"
                      optionLabel="unitName"
                      optionValue="id"
                      [showClear]="true"
                      [autoDisplayFirst]="false"
                      [filter]="true"
                      filterBy="unitName"
                      styleClass="w-full"
                      (onChange)="tinhChange($event?.value)"
                    ></p-dropdown>
                    <label for="maTinhTP">Tỉnh/TP <span class="required">*</span></label>
                  </span>
                  <app-validation-message
                    [entityControl]="formControls.maTinhTP"
                    [validationMessages]="validationMessages.maTinhTP"
                  >
                  </app-validation-message>
                </div>
                <!-- ----------------------------maQuanHuyen---------------------------=----------------------------- -->
                <div class="field col-12 md:col-6">
                  <span class="p-float-label">
                    <p-dropdown
                      id="maQuanHuyen"
                      formControlName="maQuanHuyen"
                      [options]="huyenOptions"
                      optionLabel="unitName"
                      optionValue="id"
                      [showClear]="true"
                      [autoDisplayFirst]="false"
                      [filter]="true"
                      filterBy="unitName"
                      styleClass="w-full"
                      (onChange)="huyenChange($event?.value)"
                    ></p-dropdown>
                    <label for="maQuanHuyen">Quận/Huyện <span class="required">*</span></label>
                  </span>
                  <app-validation-message
                    [entityControl]="formControls.maQuanHuyen"
                    [validationMessages]="validationMessages.maQuanHuyen"
                  >
                  </app-validation-message>
                </div>
                <!-- ----------------------------maXaPhuongTT---------------------------=----------------------------- -->
                <div class="field col-12 md:col-6">
                  <span class="p-float-label">
                    <p-dropdown
                      id="maXaPhuongTT"
                      formControlName="maXaPhuongTT"
                      [options]="xaOptions"
                      optionLabel="unitName"
                      optionValue="id"
                      [showClear]="true"
                      [autoDisplayFirst]="false"
                      [filter]="true"
                      filterBy="unitName"
                      styleClass="w-full"
                    ></p-dropdown>
                    <label for="maXaPhuongTT">Xã/Phường/TT <span class="required">*</span></label>
                  </span>
                  <app-validation-message
                    [entityControl]="formControls.maXaPhuongTT"
                    [validationMessages]="validationMessages.maXaPhuongTT"
                  >
                  </app-validation-message>
                </div>
                <!-- ----------------------------diaChiThuongTru---------------------------=----------------------------- -->
                <div class="field col-12 md:col-12">
                  <span class="p-float-label">
                    <textarea
                      id="diaChiThuongTru"
                      formControlName="diaChiThuongTru"
                      [rows]="5"
                      pInputTextarea
                      class="w-full"
                    ></textarea>
                    <label for="diaChiThuongTru"
                      >Địa chỉ thường trú <span class="required">*</span></label
                    >
                  </span>
                  <app-validation-message
                    [entityControl]="formControls.diaChiThuongTru"
                    [validationMessages]="validationMessages.diaChiThuongTru"
                  >
                  </app-validation-message>
                </div>
                <!-- ----------------------------diaChiLienHe---------------------------=----------------------------- -->
                <div class="field col-12 md:col-">
                  <span class="p-float-label">
                    <textarea
                      id="diaChiLienHe"
                      formControlName="diaChiLienHe"
                      [rows]="5"
                      pInputTextarea
                      class="w-full"
                    ></textarea>
                    <label for="diaChiLienHe"
                      >Địa chỉ liên hệ <span class="required">*</span></label
                    >
                  </span>
                  <app-validation-message
                    [entityControl]="formControls.diaChiLienHe"
                    [validationMessages]="validationMessages.diaChiLienHe"
                  >
                  </app-validation-message>
                </div>
                <!-- ---------------------------------thoiGianTiepNhan------------------------------------------------- -->
                <div class="field col-12 md:col-6">
                  <span class="p-float-label">
                    <p-calendar
                      id="thoiGianTiepNhan"
                      formControlName="thoiGianTiepNhan"
                      appendTo="body"
                      dateFormat="dd/mm/yy"
                      [showClear]="true"
                      showTime="true"
                      [hourFormat]="24"
                    ></p-calendar>
                    <label for="thoiGianTiepNhan">Thời gian tiếp nhận</label>
                  </span>
                  <app-validation-message
                    [entityControl]="formControls.thoiGianTiepNhan"
                    [validationMessages]="validationMessages.thoiGianTiepNhan"
                  >
                  </app-validation-message>
                </div>
                <!-- ---------------------------------thoiGianHenTraKQ------------------------------------------------- -->
                <div class="field col-12 md:col-6">
                  <span class="p-float-label">
                    <p-calendar
                      id="thoiGianHenTraKQ"
                      formControlName="thoiGianHenTraKQ"
                      appendTo="body"
                      dateFormat="dd/mm/yy"
                      [showClear]="true"
                      showTime="true"
                      [hourFormat]="24"
                    ></p-calendar>
                    <label for="thoiGianHenTraKQ">Thời gian hẹn trả kết quả</label>
                  </span>
                  <app-validation-message
                    [entityControl]="formControls.thoiGianHenTraKQ"
                    [validationMessages]="validationMessages.thoiGianHenTraKQ"
                  >
                  </app-validation-message>
                </div>
                <!-- ----------------------------boPhanDangXL---------------------------=----------------------------- -->
                <div class="field col-12 md:col-6">
                  <span class="p-float-label">
                    <input
                      id="boPhanDangXL"
                      formControlName="boPhanDangXL"
                      type="text"
                      pInputText
                      [style]="{ width: '100%' }"
                    />
                    <label for="boPhanDangXL"
                      >Bộ phận đang XL <span class="required">*</span></label
                    >
                  </span>
                  <app-validation-message
                    [entityControl]="formControls.boPhanDangXL"
                    [validationMessages]="validationMessages.boPhanDangXL"
                  >
                  </app-validation-message>
                </div>
                <!-- ----------------------------congKhai---------------------------=----------------------------- -->
                <div class="field col-12 md:col-6">
                  <p-checkbox
                    binary="true"
                    label="Công khai"
                    formControlName="congKhai"
                  ></p-checkbox>
                  <app-validation-message
                    [entityControl]="formControls.congKhai"
                    [validationMessages]="validationMessages.congKhai"
                  >
                  </app-validation-message>
                </div>
                <!-- ----------------------------noiDungVuViec---------------------------=----------------------------- -->
                <div class="field col-12 md:col-12">
                  <span class="p-float-label">
                    <textarea
                      id="noiDungVuViec"
                      formControlName="noiDungVuViec"
                      [rows]="5"
                      pInputTextarea
                      class="w-full"
                    ></textarea>
                    <label for="noiDungVuViec"
                      >Nội dung KN/KK <span class="required">*</span></label
                    >
                  </span>
                  <app-validation-message
                    [entityControl]="formControls.noiDungVuViec"
                    [validationMessages]="validationMessages.noiDungVuViec"
                  >
                  </app-validation-message>
                </div>
                <!-- ----------------------------ghiChu---------------------------=----------------------------- -->
                <div class="field col-12 md:col-12">
                  <span class="p-float-label">
                    <textarea
                      id="ghiChu"
                      formControlName="ghiChu"
                      [rows]="5"
                      pInputTextarea
                      class="w-full"
                    ></textarea>
                    <label for="ghiChu">Ghi chú</label>
                  </span>
                  <app-validation-message
                    [entityControl]="formControls.ghiChu"
                    [validationMessages]="validationMessages.ghiChu"
                  >
                  </app-validation-message>
                </div>
              </div>
            </p-fieldset>
            <!-- -------------------------------Thông tin thửa đất--------------------------------------------------- -->
            <p-fieldset legend="Thông tin thửa đất" [toggleable]="true" class="w-full">
              <div class="grid">
                <!-- ----------------------------soThua---------------------------=----------------------------- -->
                <div class="field col-12 md:col-6">
                  <span class="p-float-label">
                    <input
                      id="soThua"
                      formControlName="soThua"
                      type="text"
                      pInputText
                      [style]="{ width: '100%' }"
                    />
                    <label for="soThua">Số thửa <span class="required">*</span></label>
                  </span>
                  <app-validation-message
                    [entityControl]="formControls.soThua"
                    [validationMessages]="validationMessages.soThua"
                  >
                  </app-validation-message>
                </div>
                <!-- ----------------------------toBanDo---------------------------=----------------------------- -->
                <div class="field col-12 md:col-6">
                  <span class="p-float-label">
                    <input
                      id="toBanDo"
                      formControlName="toBanDo"
                      type="text"
                      pInputText
                      [style]="{ width: '100%' }"
                    />
                    <label for="toBanDo">Tờ bản đồ <span class="required">*</span></label>
                  </span>
                  <app-validation-message
                    [entityControl]="formControls.toBanDo"
                    [validationMessages]="validationMessages.toBanDo"
                  >
                  </app-validation-message>
                </div>
                <!-- ----------------------------dienTich---------------------------=----------------------------- -->
                <div class="field col-12 md:col-6">
                  <span class="p-float-label">
                    <input
                      id="dienTich"
                      formControlName="dienTich"
                      type="text"
                      pInputText
                      [style]="{ width: '100%' }"
                    />
                    <label for="dienTich">Diện tích <span class="required">*</span></label>
                  </span>
                  <app-validation-message
                    [entityControl]="formControls.dienTich"
                    [validationMessages]="validationMessages.dienTich"
                  >
                  </app-validation-message>
                </div>
                <!-- ----------------------------loaiDat---------------------------=----------------------------- -->
                <div class="field col-12 md:col-6">
                  <span class="p-float-label">
                    <p-dropdown
                      id="loaiDat"
                      formControlName="loaiDat"
                      [options]="landTypeOptions"
                      optionLabel="landTypeName"
                      optionValue="id"
                      [showClear]="true"
                      [autoDisplayFirst]="false"
                      [filter]="true"
                      filterBy="landTypeName"
                      styleClass="w-full"
                    ></p-dropdown>
                    <label for="loaiDat">loại đất <span class="required">*</span></label>
                  </span>
                  <app-validation-message
                    [entityControl]="formControls.loaiDat"
                    [validationMessages]="validationMessages.loaiDat"
                  >
                  </app-validation-message>
                </div>
                <!-- ----------------------------tinhThuaDat---------------------------=----------------------------- -->
                <div class="field col-12 md:col-6">
                  <span class="p-float-label">
                    <p-dropdown
                      id="tinhThuaDat"
                      formControlName="tinhThuaDat"
                      [options]="tinhOptions"
                      optionLabel="unitName"
                      optionValue="id"
                      [showClear]="true"
                      [autoDisplayFirst]="false"
                      [filter]="true"
                      filterBy="unitName"
                      styleClass="w-full"
                      (onChange)="tinhThuaDatChange($event?.value)"
                    ></p-dropdown>
                    <label for="tinhThuaDat">Tỉnh/TP <span class="required">*</span></label>
                  </span>
                  <app-validation-message
                    [entityControl]="formControls.tinhThuaDat"
                    [validationMessages]="validationMessages.tinhThuaDat"
                  >
                  </app-validation-message>
                </div>
                <!-- ----------------------------huyenThuaDat---------------------------=----------------------------- -->
                <div class="field col-12 md:col-6">
                  <span class="p-float-label">
                    <p-dropdown
                      id="huyenThuaDat"
                      formControlName="huyenThuaDat"
                      [options]="huyenThuaDateOptions"
                      optionLabel="unitName"
                      optionValue="id"
                      [showClear]="true"
                      [autoDisplayFirst]="false"
                      [filter]="true"
                      filterBy="unitName"
                      styleClass="w-full"
                      (onChange)="huyenThuaDatChange($event?.value)"
                    ></p-dropdown>
                    <label for="huyenThuaDat">Quận/Huyện <span class="required">*</span></label>
                  </span>
                  <app-validation-message
                    [entityControl]="formControls.huyenThuaDat"
                    [validationMessages]="validationMessages.huyenThuaDat"
                  >
                  </app-validation-message>
                </div>
                <!-- ----------------------------xaThuaDat---------------------------=----------------------------- -->
                <div class="field col-12 md:col-6">
                  <span class="p-float-label">
                    <p-dropdown
                      id="xaThuaDat"
                      formControlName="xaThuaDat"
                      [options]="xaThuaDatOptions"
                      optionLabel="unitName"
                      optionValue="id"
                      [showClear]="true"
                      [autoDisplayFirst]="false"
                      [filter]="true"
                      filterBy="unitName"
                      styleClass="w-full"
                    ></p-dropdown>
                    <label for="xaThuaDat">Xã/Phường/TT<span class="required">*</span></label>
                  </span>
                  <app-validation-message
                    [entityControl]="formControls.xaThuaDat"
                    [validationMessages]="validationMessages.xaThuaDat"
                  >
                  </app-validation-message>
                </div>
                <!-- ----------------------------diaChiThuaDat---------------------------=----------------------------- -->
                <div class="field col-12 md:col-12">
                  <span class="p-float-label">
                    <textarea
                      id="diaChiThuaDat"
                      formControlName="diaChiThuaDat"
                      [rows]="5"
                      pInputTextarea
                      class="w-full"
                    ></textarea>
                    <label for="diaChiThuaDat"
                      >Địa chỉ thửa đất <span class="required">*</span></label
                    >
                  </span>
                  <app-validation-message
                    [entityControl]="formControls.diaChiThuaDat"
                    [validationMessages]="validationMessages.diaChiThuaDat"
                  >
                  </app-validation-message>
                </div>
              </div>
            </p-fieldset>

            <!-- -------------------------------Thông tin giải quyết lần I--------------------------------------------------- -->
            <p-fieldset legend="Thông tin giải quyết lần I" [toggleable]="true" class="w-full">
              <div class="grid">
                <!-- ----------------------------loaiKhieuNai1---------------------------=----------------------------- -->
                <div class="field col-12 md:col-6">
                  <span class="p-float-label">
                    <p-dropdown
                      id="loaiKhieuNai1"
                      formControlName="loaiKhieuNai1"
                      [options]="loaiKhieuNaiOptions"
                      optionLabel="text"
                      optionValue="value"
                      [showClear]="true"
                      [autoDisplayFirst]="false"
                      styleClass="w-full"
                    ></p-dropdown>
                    <label for="loaiKhieuNai1">Khiếu nại/Khiếu kiện</label>
                  </span>
                </div>
                <!-- ---------------------------------ngayKhieuNai1------------------------------------------------- -->
                <div class="field col-12 md:col-6">
                  <span class="p-float-label">
                    <p-calendar
                      id="ngayKhieuNai1"
                      formControlName="ngayKhieuNai1"
                      appendTo="body"
                      dateFormat="dd/mm/yy"
                      [showClear]="true"
                    ></p-calendar>
                    <label for="ngayKhieuNai1">Ngày QĐ GQKN</label>
                  </span>
                </div>
                <!-- ---------------------------------ngayTraKQ1------------------------------------------------- -->
                <div class="field col-12 md:col-6">
                  <span class="p-float-label">
                    <p-calendar
                      id="ngayTraKQ1"
                      formControlName="ngayTraKQ1"
                      appendTo="body"
                      dateFormat="dd/mm/yy"
                      [showClear]="true"
                    ></p-calendar>
                    <label for="ngayTraKQ1">Ngày trả kết quả</label>
                  </span>
                </div>
                <!-- -------------------------------thamQuyen1--------------------------------------------------- -->
                <div class="field col-12 md:col-6">
                  <span class="p-float-label">
                    <input
                      id="thamQuyen1"
                      formControlName="thamQuyen1"
                      type="text"
                      pInputText
                      [style]="{ width: '100%' }"
                    />
                    <label for="name">Thẩm quyền GQKN</label>
                  </span>
                  <app-validation-message
                    [entityControl]="formControls.thamQuyen1"
                    [validationMessages]="validationMessages.thamQuyen"
                  >
                  </app-validation-message>
                </div>
                <!-- -------------------------------soQD1--------------------------------------------------- -->
                <div class="field col-12 md:col-6">
                  <span class="p-float-label">
                    <input
                      id="soQD1"
                      formControlName="soQD1"
                      type="text"
                      pInputText
                      [style]="{ width: '100%' }"
                    />
                    <label for="name">Số QĐ GQKN</label>
                  </span>
                  <app-validation-message
                    [entityControl]="formControls.soQD1"
                    [validationMessages]="validationMessages.soQD"
                  >
                  </app-validation-message>
                </div>
                <!-- ----------------------------ketQua1---------------------------=----------------------------- -->
                <div class="field col-12 md:col-6">
                  <span class="p-float-label">
                    <p-dropdown
                      id="ketQua1"
                      formControlName="ketQua1"
                      [options]="loaiKQOPtions"
                      optionLabel="text"
                      optionValue="value"
                      [showClear]="true"
                      [autoDisplayFirst]="false"
                      styleClass="w-full"
                    ></p-dropdown>
                    <label for="ketQua1">Kết quả GQKN</label>
                  </span>
                </div>
              </div>
            </p-fieldset>

            <!-- -------------------------------Thông tin giải quyết lần II--------------------------------------------------- -->
            <p-fieldset legend="Thông tin giải quyết lần II" [toggleable]="true" class="w-full">
              <div class="grid">
                <!-- ----------------------------loaiKhieuNai2---------------------------=----------------------------- -->
                <div class="field col-12 md:col-6">
                  <span class="p-float-label">
                    <p-dropdown
                      id="loaiKhieuNai2"
                      formControlName="loaiKhieuNai2"
                      [options]="loaiKhieuNaiOptions"
                      optionLabel="text"
                      optionValue="value"
                      [showClear]="true"
                      [autoDisplayFirst]="false"
                      styleClass="w-full"
                    ></p-dropdown>
                    <label for="loaiKhieuNai2">Khiếu nại/Khiếu kiện</label>
                  </span>
                </div>
                <!-- ---------------------------------ngayKhieuNai2------------------------------------------------- -->
                <div class="field col-12 md:col-6">
                  <span class="p-float-label">
                    <p-calendar
                      id="ngayKhieuNai2"
                      formControlName="ngayKhieuNai2"
                      appendTo="body"
                      dateFormat="dd/mm/yy"
                      [showClear]="true"
                    ></p-calendar>
                    <label for="ngayKhieuNai2">Ngày QĐ GQKN</label>
                  </span>
                </div>
                <!-- ---------------------------------ngayTraKQ2------------------------------------------------- -->
                <div class="field col-12 md:col-6">
                  <span class="p-float-label">
                    <p-calendar
                      id="ngayTraKQ2"
                      formControlName="ngayTraKQ2"
                      appendTo="body"
                      dateFormat="dd/mm/yy"
                      [showClear]="true"
                    ></p-calendar>
                    <label for="ngayTraKQ2">Ngày trả kết quả</label>
                  </span>
                </div>
                <!-- -------------------------------thamQuyen2--------------------------------------------------- -->
                <div class="field col-12 md:col-6">
                  <span class="p-float-label">
                    <input
                      id="thamQuyen2"
                      formControlName="thamQuyen2"
                      type="text"
                      pInputText
                      [style]="{ width: '100%' }"
                    />
                    <label for="name">Thẩm quyền GQKN</label>
                  </span>
                  <app-validation-message
                    [entityControl]="formControls.thamQuyen2"
                    [validationMessages]="validationMessages.thamQuyen"
                  >
                  </app-validation-message>
                </div>
                <!-- -------------------------------soQD2--------------------------------------------------- -->
                <div class="field col-12 md:col-6">
                  <span class="p-float-label">
                    <input
                      id="soQD2"
                      formControlName="soQD2"
                      type="text"
                      pInputText
                      [style]="{ width: '100%' }"
                    />
                    <label for="name">Số QĐ GQKN</label>
                  </span>
                  <app-validation-message
                    [entityControl]="formControls.soQD2"
                    [validationMessages]="validationMessages.soQD"
                  >
                  </app-validation-message>
                </div>
                <!-- ----------------------------ketQua2---------------------------=----------------------------- -->
                <div class="field col-12 md:col-6">
                  <span class="p-float-label">
                    <p-dropdown
                      id="ketQua2"
                      formControlName="ketQua2"
                      [options]="loaiKQOPtions"
                      optionLabel="text"
                      optionValue="value"
                      [showClear]="true"
                      [autoDisplayFirst]="false"
                      styleClass="w-full"
                    ></p-dropdown>
                    <label for="ketQua2">Kết quả GQKN</label>
                  </span>
                </div>
              </div>
            </p-fieldset>
            <!-- ---------------------------------------------------------------------------------- -->
          </div>
        </ng-template>
      </p-tabPanel>
      <!-- ----------------------------------------------------------------------- -->
      <p-tabPanel>
        <ng-template pTemplate="header">
          <i class="pi pi-folder mr-2"></i>
          <span>Tệp gắn kèm</span>
        </ng-template>

        <ng-template pTemplate="content">
          <app-file-attachment
            [loaiVuViec]="loaiVuViec"
            [modeHoSo]="mode"
            [complainId]="complainId"
          ></app-file-attachment>
        </ng-template>
      </p-tabPanel>
      <!-- ----------------------------------------------------------------------- -->
      <p-tabPanel>
        <ng-template pTemplate="header">
          <i class="pi pi-fw pi-map-marker mr-2"></i>
          <span>Bản đồ</span>
        </ng-template>
        <ng-template pTemplate="content">
          <!-- -------------------------------Dữ liệu--------------------------------------------------- -->
          <p-fieldset legend="Dữ liệu" [toggleable]="true" class="w-full">
            <div class="grid">
              <!-- -------------------------------duLieuToaDo--------------------------------------------------- -->
              <div class="field col-12 md:col-6">
                <span class="p-float-label">
                  <input
                    id="duLieuToaDo"
                    formControlName="duLieuToaDo"
                    type="text"
                    pInputText
                    [style]="{ width: '100%' }"
                  />
                  <label for="name">Dữ liệu tọa đọ</label>
                </span>
                <app-validation-message
                  [entityControl]="formControls.duLieuToaDo"
                  [validationMessages]="validationMessages.duLieuToaDo"
                >
                </app-validation-message>
              </div>
              <!-- -------------------------------getCoordiate--------------------------------------------------- -->
              <div class="field col-12 md:col-6">
                <button
                  *ngIf="mode != 'view'"
                  pButton
                  pRipples
                  type="button"
                  (click)="getCoordiate()"
                  label="Lấy tọa độ"
                  class="p-button-info mr-2"
                  icon="pi pi-map-marker"
                ></button>
              </div>
              <!-- -------------------------------duLieuHinhHoc--------------------------------------------------- -->
              <div class="field col-12 md:col-12">
                <span class="p-float-label">
                  <textarea
                    id="duLieuHinhHoc"
                    formControlName="duLieuHinhHoc"
                    [rows]="5"
                    pInputTextarea
                    class="w-full"
                  ></textarea>
                  <label for="name">Dữ liệu hình học</label>
                </span>
                <app-validation-message
                  [entityControl]="formControls.duLieuHinhHoc"
                  [validationMessages]="validationMessages.duLieuHinhHoc"
                >
                </app-validation-message>
              </div>
            </div>
          </p-fieldset>
          <!-- -------------------------------Bản đồ--------------------------------------------------- -->
          <p-fieldset legend="Bản đồ" [toggleable]="true" class="w-full">
            <app-map
              [duLieuToaDo]="formControls.duLieuToaDo.value"
              [loaiVuViec]="LoaiVuViec.KhieuNai"
            ></app-map>
          </p-fieldset>
        </ng-template>
      </p-tabPanel>
    </p-tabView>

    <ng-template *ngIf="mode != 'view'" pTemplate="footer">
      <div class="flex justify-content-end">
        <button
          pButton
          pRipples
          type="submit"
          (click)="saveChange()"
          label="Lưu"
          class="p-button-info mr-2"
          icon="pi pi-check"
        ></button>
        <button
          pButton
          pRipples
          type="button"
          (click)="close()"
          label="Đóng"
          class="p-button-danger"
          icon="pi pi-times"
        ></button>
      </div>
    </ng-template>

    <p-blockUI [target]="pnlDetail" [blocked]="blockedPanelDetail">
      <p-progressSpinner
        [style]="{ width: '100px', height: '100px', position: 'absolute', top: '25%', left: '50%' }"
        strokeWidth="2"
        animationDuration=".5s"
      ></p-progressSpinner>
    </p-blockUI>
  </p-panel>
</form>
