<form class="form-horizontal form-label-left" skipValidation [formGroup]="form">
  <p-panel #pnlDetail [collapsed]="false">
    <div class="formgrid grid">
      <!-- --------------------------------landTypeCode-------------------------------------------------- -->
      <div class="field col-12 md:col-6">
        <span class="p-float-label">
          <input
            id="landTypeCode"
            formControlName="landTypeCode"
            type="text"
            pInputText
            [style]="{ width: '100%' }"
          />
          <label for="name">Mã <span class="required">*</span></label>
        </span>
        <app-validation-message
          [entityControl]="formControls.landTypeCode"
          [validationMessages]="validationMessages.landTypeCode"
        >
        </app-validation-message>
      </div>
      <!-- --------------------------------landTypeName-------------------------------------------------- -->
      <div class="field col-12 md:col-6">
        <span class="p-float-label">
          <input
            id="landTypeName"
            formControlName="landTypeName"
            type="text"
            pInputText
            [style]="{ width: '100%' }"
          />
          <label for="name">Tên <span class="required">*</span></label>
        </span>
        <app-validation-message
          [entityControl]="formControls.landTypeName"
          [validationMessages]="validationMessages.landTypeName"
        >
        </app-validation-message>
      </div>
      <!-- ----------------------------------------------orderIndex----------------------->
      <div class="field col-12 md:col-6">
        <span class="p-float-label">
          <p-inputNumber
            id="orderIndex"
            formControlName="orderIndex"
            [showButtons]="true"
            [min]="0"
            [max]="250"
            [step]="1"
            [style]="{ width: '100%' }"
            class="w-full"
          >
          </p-inputNumber>
          <label for="orderIndex">Thứ tự sắp xếp</label>
        </span>
      </div>
      <!-- ----------------------------status---------------------------=----------------------------- -->
      <div class="field col-12 md:col-6">
        <span class="p-float-label">
          <p-dropdown
            id="ketQua1"
            formControlName="status"
            [options]="statusOptions"
            optionLabel="text"
            optionValue="value"
            [showClear]="true"
            [autoDisplayFirst]="false"
            styleClass="w-full"
          ></p-dropdown>
          <label for="ketQua1">Trạng thái <span class="required">*</span></label>
        </span>
        <app-validation-message
          [entityControl]="formControls.status"
          [validationMessages]="validationMessages.status"
        >
        </app-validation-message>
      </div>
      <!-- -------------------------------------------------------=----------------------------- -->
      <div class="field col-12 md:col-12">
        <span class="p-float-label">
          <textarea
            id="description"
            formControlName="description"
            [rows]="5"
            pInputTextarea
            class="w-full"
          ></textarea>
          <label for="description">Mô tả</label>
        </span>
        <app-validation-message
          [entityControl]="formControls.description"
          [validationMessages]="validationMessages.description"
        >
        </app-validation-message>
      </div>
      <!-- ---------------------------------------------------------------------------------- -->
    </div>

    <ng-template pTemplate="footer">
      <div class="flex justify-content-end">
        <button
          pButton
          pRipples
          type="submit"
          (click)="saveChange()"
          label="Lưu"
          class="p-button-info mr-2"
          icon="pi pi-check"
          [disabled]="!form.valid || btnDisabled"
        ></button>
        <button
          pButton
          pRipples
          type="button"
          (click)="close()"
          label="Đóng"
          class="p-button-danger"
          icon="pi pi-times"
        ></button>
      </div>
    </ng-template>

    <p-blockUI [target]="pnlDetail" [blocked]="blockedPanelDetail">
      <p-progressSpinner
        [style]="{ width: '100px', height: '100px', position: 'absolute', top: '25%', left: '50%' }"
        strokeWidth="2"
        animationDuration=".5s"
      ></p-progressSpinner>
    </p-blockUI>
  </p-panel>
</form>
