<div class="animated fadeIn card">
  <p-breadcrumb [model]="breadcrumb" [home]="home"></p-breadcrumb>
  <p-toolbar>
    <div class="formgrid grid col-12">
      <div class="flex col-12 md:col-8">
        <div class="col-12 md:col-4">
          <span class="p-input-icon-left w-full">
            <i class="pi pi-search"></i>
            <input
              pInputText
              type="text"
              (keyup.enter)="loadData()"
              [(ngModel)]="keyword"
              placeholder="Tìm kiếm"
              [style]="{ width: '100%' }"
            />
          </span>
        </div>
        <div class="col-12 md:col-4">
          <span class="p-float-label">
            <p-dropdown
              id="unitTypeId"
              [(ngModel)]="unitTypeId"
              [options]="unitTypeOptions"
              optionLabel="unitTypeName"
              optionValue="id"
              [showClear]="true"
              [autoDisplayFirst]="false"
              [filter]="true"
              filterBy="unitTypeName"
              styleClass="w-full"
              (onChange)="unitTypeChange($event?.value); loadData()"
            ></p-dropdown>
            <label for="loaiDat">Loại địa danh</label>
          </span>
        </div>
        <div class="col-12 md:col-4">
          <span class="p-float-label">
            <p-dropdown
              id="parentId"
              [(ngModel)]="parentId"
              [options]="parentUnitOptions"
              optionLabel="unitName"
              optionValue="id"
              [showClear]="true"
              [autoDisplayFirst]="false"
              [filter]="true"
              filterBy="unitName"
              styleClass="w-full"
              (onChange)="loadData()"
            ></p-dropdown>
            <label for="loaiDat">Địa danh cha</label>
          </span>
        </div>
      </div>
      <div class="col-12 md:col-4 flex justify-content-end">
        <button
          *abpPermission="'Units.Create'"
          type="button"
          pButton
          pRipple
          [label]="Actions.CREATE"
          icon="pi pi-plus"
          class="p-button-info mr-1"
          [pTooltip]="Actions.CREATE"
          tooltipPosition="top"
          (click)="showAddModal()"
        ></button>
        <button
          *abpPermission="'Units.Delete'"
          type="button"
          pButton
          pRipple
          [label]="Delete"
          icon="pi pi-trash"
          class="p-button-danger"
          [pTooltip]="Actions.DELETE"
          tooltipPosition="top"
          (click)="deleteItems()"
          [disabled]="!selectedItems || !selectedItems.length"
        ></button>
      </div>
    </div>
  </p-toolbar>

  <p-table
    #dt
    [value]="items"
    [rows]="10"
    [paginator]="false"
    [(selection)]="selectedItems"
    [rowHover]="true"
    dataKey="id"
  >
    <ng-template pTemplate="header">
      <tr>
        <th style="width: 3rem">
          <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
        </th>
        <th class="row-num-column">Id</th>
        <th pSortableColumn="unitCode">Mã địa danh</th>
        <th pSortableColumn="unitName">Tên địa danh</th>
        <th pSortableColumn="shortName">Tên ngắn gọn</th>
        <th pSortableColumn="status">Trạng thái</th>
        <th *ngIf="visibleActionColumn" class="action-column">{{ Actions.ACTION }}</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-row let-rowIndex="rowIndex">
      <tr>
        <td>
          <p-tableCheckbox [value]="row"></p-tableCheckbox>
        </td>
        <!-- <td class="row-num-cell">{{ skipCount + rowIndex + 1 }}</td> -->
        <td>{{ row.id }}</td>
        <td>{{ row.unitCode }}</td>
        <td>{{ row.unitName }}</td>
        <td>{{ row.shortName }}</td>
        <td>
          <p-tag
            styleClass="mr-1"
            [severity]="row.status == 1 ? 'info' : 'warning'"
            [value]="row.status == 1 ? 'Hoạt động' : 'Khóa'"
          >
          </p-tag>
        </td>
        <td *ngIf="visibleActionColumn">
          <p-tieredMenu
            [showTransitionOptions]="'300ms'"
            [hideTransitionOptions]="'300ms'"
            #menu
            [model]="actionMenu"
            [popup]="true"
            appendTo="body"
          ></p-tieredMenu>

          <button
            #btn
            pButton
            pRipple
            type="button"
            icon="pi pi-fw pi-cog"
            [pTooltip]="Actions.ACTION"
            tooltipPosition="top"
            (click)="menu.toggle($event); setActionItem(row)"
            style="height: 2rem"
          ></button>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="summary">
      <p-paginator
        [rows]="maxResultCount"
        [totalRecords]="totalCount"
        [showCurrentPageReport]="true"
        [showJumpToPageInput]="true"
        (onPageChange)="pageChanged($event)"
        currentPageReportTemplate="{totalRecords} bản ghi"
        [rowsPerPageOptions]="[10, 20, 50, 100]"
      ></p-paginator>
    </ng-template>
  </p-table>
</div>
