<p-panel #pnlDetail [collapsed]="false">
  <ng-template pTemplate="header">
    <div class="flex justify-content-center col-12">
      <span class="p-link map-popup-header" (click)="viewDetail()">Xem chi tiết</span>
    </div>
  </ng-template>
  <form class="form-horizontal form-label-left" skipValidation [formGroup]="form">
    <div class="grid">
      <!-- -------------------------------maHoSo--------------------------------------------------- -->
      <div class="field col-12">
        <span class="p-float-label">
          <input
            id="tieuDe"
            formControlName="tieuDe"
            type="text"
            pInputText
            [style]="{ width: '100%' }"
          />
          <label for="tieuDe">Tiêu đề </label>
        </span>
      </div>
      <!-- -------------------------------maHoSo--------------------------------------------------- -->
      <div class="field col-6">
        <span class="p-float-label">
          <input
            id="maHoSo"
            formControlName="maHoSo"
            type="text"
            pInputText
            [style]="{ width: '100%' }"
          />
          <label for="maHoSo">Mã hồ sơ </label>
        </span>
      </div>
      <!-- ----------------------------nguoiNopDon---------------------------=----------------------------- -->
      <div class="field col-6">
        <span class="p-float-label">
          <input
            id="nguoiNopDon"
            formControlName="nguoiNopDon"
            type="text"
            pInputText
            [style]="{ width: '100%' }"
          />
          <label for="nguoiNopDon">Người nộp đơn </label>
        </span>
      </div>
      <!-- ------------------------------dienThoai---------------------------------------------------- -->
      <div class="field col-6">
        <span class="p-float-label">
          <input id="dienThoai" formControlName="dienThoai" type="text" pInputText class="w-full" />
          <label for="dienThoai">Số ĐT</label>
        </span>
      </div>
      <!-- ---------------------------------thoiGianTiepNhan------------------------------------------------- -->
      <div class="field col-6">
        <span class="p-float-label">
          <p-calendar
            id="thoiGianTiepNhan"
            formControlName="thoiGianTiepNhan"
            appendTo="body"
            dateFormat="dd/mm/yy"
            [showClear]="true"
            showTime="true"
            [hourFormat]="24"
          ></p-calendar>
          <label for="thoiGianTiepNhan">Thời gian tiếp nhận</label>
        </span>
      </div>
      <!-- ---------------------------------thoiGianHenTraKQ------------------------------------------------- -->
      <div class="field col-6">
        <span class="p-float-label">
          <p-calendar
            id="thoiGianHenTraKQ"
            formControlName="thoiGianHenTraKQ"
            appendTo="body"
            dateFormat="dd/mm/yy"
            [showClear]="true"
            showTime="true"
            [hourFormat]="24"
          ></p-calendar>
          <label for="thoiGianHenTraKQ">Thời gian hẹn trả kết quả</label>
        </span>
      </div>
      <!-- ----------------------------boPhanDangXL---------------------------=----------------------------- -->
      <div class="field col-6">
        <span class="p-float-label">
          <input
            id="boPhanDangXL"
            formControlName="boPhanDangXL"
            type="text"
            pInputText
            [style]="{ width: '100%' }"
          />
          <label for="boPhanDangXL">Bộ phận thực hiện </label>
        </span>
      </div>
      <!-- ----------------------------soThua---------------------------=----------------------------- -->
      <div class="field col-6">
        <span class="p-float-label">
          <input
            id="soThua"
            formControlName="soThua"
            type="text"
            pInputText
            [style]="{ width: '100%' }"
          />
          <label for="soThua">Số thửa</label>
        </span>
      </div>
      <!-- ----------------------------toBanDo---------------------------=----------------------------- -->
      <div class="field col-6">
        <span class="p-float-label">
          <input
            id="toBanDo"
            formControlName="toBanDo"
            type="text"
            pInputText
            [style]="{ width: '100%' }"
          />
          <label for="toBanDo">Tờ bản đồ</label>
        </span>
      </div>
      <!-- ----------------------------ketQua---------------------------=----------------------------- -->
      <div class="field col-6">
        <span class="p-float-label">
          <p-dropdown
            id="ketQua"
            formControlName="ketQua"
            [options]="loaiKQOPtions"
            optionLabel="text"
            optionValue="value"
            [showClear]="true"
            [autoDisplayFirst]="false"
            styleClass="w-full"
          ></p-dropdown>
          <label for="ketQua">Kết quả</label>
        </span>
      </div>
    </div>
  </form>
  <p-blockUI [target]="pnlDetail" [blocked]="blockedPanelDetail">
    <p-progressSpinner
      [style]="{
        width: '100px',
        height: '100px',
        position: 'absolute',
        top: '25%',
        left: '50%'
      }"
      strokeWidth="2"
      animationDuration=".5s"
    ></p-progressSpinner>
  </p-blockUI>
</p-panel>
